@import "../../css/_module-imports";

section.u4m-inteHub-listing {
  position: relative;
  .noText {
    font-size: 20rem;
    margin: 0;
  }
  .filter_sidebar {
    min-width: 150px;
    width: calc(100% - 1068px);
    max-width: 100%;

    @include tabletmid {
      width: 200px;
    }

    @include tabletvert {
      width: 100%;
    }
  }

  .filter_item {
    @include tabletvertmin {
      width: 100%;
    }
  }

  .case_listing_column {
    width: calc(100% - 150px);
    padding: 0 10px;
    max-width: 1068px;

    @include tabletmid {
      width: calc(100% - 200px);
    }

    @include tabletvert {
      width: 100%;
      padding: 0;
    }
  }

  .case_listing_wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    @include tabletmidmin { 
      margin: 0 -10px;
    }
  }

  .card_img {
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    background-size: 95%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24px;
    aspect-ratio: 1 / 1;
    border: 1px solid #e2ddd2;
    display: flex;
    width: 100%;
    align-items: center;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      transition: .3s;   
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: .1;
    }
    &:hover {
      .hover_content_wrap {
        transform: translateY(0%);
      }
      &:after {
          background-color: $greybg;
      }
  }
  }

  .case_card {
    @include tabletmid {
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
    }

    @include phone {
      width: 100%;   
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .inner_wrapper {
    width: 100%;
    .absLink {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 1;
      top: 0;
      left: 0;
    }
    .logo {
      width: 100%;
      display: block;
      padding: 30px;
      text-align: center;

      @include tabletmid {
        padding: 20px;
      }
    }

    .hover_content_wrap {
      width: 100%;
      margin-top: auto;
      padding: 30px 26px;
      transform: translateY(100%);
      transition: 0.2s ease;
      position: absolute;   
      z-index: 1;
      bottom: 0;

      @include tabletmid {
        padding: 20px;
      }

      span {
        display: block;
      }

      .price {
        @include h2;
        color: $white;
        margin-bottom: 5px;
      }

      .subtitle {
        color: $white;
      }
    }
  }

  .card_title {
    h4 {
      @include size28;
      font-weight: 400;
      margin-bottom: 0;

      @include tablet {
        @include size18;
      }
    }
  }

  .loadmore_btn {
    margin-top: 80px;

    a {
      margin: 0;
    }
  }

  .filter_sidebar_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    @include tabletvert {
      margin-bottom: 20px;
      justify-content: center;
    }

    .filter_item {
      button {
        font-size: 14px;
        font-weight: 400;
        line-height: 18.2px;
        letter-spacing: 0.03em;
        cursor: pointer;
        background: transparent;
        border: 0;
        border-radius: 40px;
        -webkit-appearance: none;
        text-transform: capitalize;
        display: block;
        padding: 9px 24px;
        border: 2px solid transparent;
        text-align: left;
        @include tabletvert {
          padding: 9px;
        }
      }

      &.active button {
        border-color: #b6b0a2;
        @include tabletvert {
          padding: 9px 24px;
        }
      }
    }
  }
}
