@import "../../css/_module-imports";

section.u4m-landing-page-sign-up {
  color: $black;

  &.reverse-text {
    color: $white;

    .logo {
      img {
        filter: brightness(0) invert(1);
      }
    }

    .footer-links {
      a {
        color: $white;
      }
    }

    .input input.hs-input[type="email"] {
      &::placeholder {
        color: $white;
      }
    }
  }

  .lp-body {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 100vh;

    &>* {
      width: 100%;
    }
  }

  .logo {
    text-align: center;
    margin: 50rem auto 100rem auto;
    max-width: 200rem;

    img {
      max-width: 200rem;
    }
  }

  .heading {
    margin: 79rem auto 0;
  }

  img {
    width: 100%;
  }

  h1 {
    @include h2;
    width: 700rem;
    text-align: center;
    margin: 0 auto 13rem;

    //font-size: 42rem;
    @include tabletvert {
      width: 95%;
    }
  }

  h2 {
    @include h5;
    width: 610rem;
    text-align: center;
    margin: 16rem auto 0;
    font-weight: 300;
    font-size: 16rem;
    line-height: 1.6em;

    @include tabletvert {
      width: 85%;
      font-size: 14rem;
    }
  }

  .form-wrap {
    @include form;
    background-color: transparent;
    max-width: 530rem;
    margin-bottom: 0;
    padding-bottom: 0;

    form {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: flex-start;
    }

    .hs_email {
      width: 75%;

      label {
        display: none;
      }
    }

    .hs-button,
    .input .hs-input[type="email"] {
      margin-top: 0;
      border-radius: 0;
      border: 1rem solid $action1;
    }

    .input input.hs-input[type="email"] {
      color: inherit;
      border-top-left-radius: $border1;
      border-bottom-left-radius: $border1;
      background-color: transparent;
      font-size: 15rem;
    }

    input.hs-button[type="submit"] {
      background-color: $action1;
      border-top-right-radius: $border1;
      border-bottom-right-radius: $border1;
      padding: 16rem 30rem 15rem 30rem;
    }
  }

  .hs-submit {
    input.hs-button {
      padding: 10rem 16rem;
      border: 2rem solid $action1;
      background-color: $action1;
      border-top-right-radius: $border1;
      border-bottom-right-radius: $border1;
      color: $white;

      &:hover {
        color: $black;
      }
    }
  }

  .submitted-message {
    text-align: center;
  }

  .social {
    margin-top: 44rem auto;
  }

  .custom-share div {
    width: 30%;
    max-width: 350rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    font-size: 28rem;
    align-content: center;

    .label {
      line-height: 1.5em;
      font-size: 18rem;
      font-weight: 400;
      align-self: center;
    }

    a {
      color: inherit;

      svg {
        fill: $black;
      }

      &:hover {
        color: $action1;

        svg {
          fill: $action1;
        }
      }
    }

    @include tablet {
      display: none;
      // width: 50%;
    }

    @include tabletvert {
      // width: 75%;
    }
  }

  .testimonials {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400rem;
    margin: 100rem auto 0;

    @include tabletvert {
      width: 95%;
    }

    @include phone {
      margin-top: 0;
    }

    .quote {
      width: 49%;
      margin: 10rem auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
      font-style: italic;

      @include tablet {
        width: 80%;
      }

      @include tabletvert {
        width: 100%;
        flex-direction: column;
        text-align: center;
      }

      .author-image {
        width: 120rem;
        height: 120rem;
        border-radius: 100rem;
        overflow: hidden;

        @include tabletvert {
          margin-bottom: 15rem;
        }
      }

      .text {
        width: 65%;

        @include tabletvert {
          width: 100%;
        }
      }

      .quotation-mark {
        color: $action1;
        font-weight: bold;
      }

      .author-name,
      .author-title {
        font-style: normal;
        font-weight: 600;
      }

      .author-name::before {
        content: "– ";
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .footer-links {
    text-align: center;
    margin-top: 80rem;
    font-size: 14rem;
    margin-bottom: 40rem;

    a {
      color: $black;
      margin-left: 10rem;

      &:hover {
        color: $action1;
      }
    }
  }
}
