@import "../../css/_module-imports";
section.u4m-slider-resource-cards {
  margin: 100px 0;
  &.reverse-text {
    h2.heading {
      color: $white;
    }
  }
  .top-wrapper {
    @include center;
    display: flex;
    justify-content: space-between;
    .heading {
      @include h2;
      @include tablet {
        @include h4;
        margin: 0;
      }
    }
    .button {
      flex-grow: 1;
      text-align: right;
      @include buttonText;
      @include tabletvert {
        text-align: center;
        width: 100%;
      }
    }
    @include tabletvert {
      display: block;
      text-align: center;
    }
  }
  .container {
    @include center;
    max-width: 1280px;
    opacity: 0;
    .slick-list {
      padding-top: 20px;
      padding-bottom: 20px;
      .slick-track {
        display: flex;
        .slick-slide {
          height: inherit;
          margin: 0 20px;
          div {
            height: 100%;
            .resource-card {
              @include resourceCard;
              margin: 0;
              height: 100%;
              a.link-wrap {
                .image {
                  height: 210px;
                }
                .content {
                  height: calc(100% - 210px);
                }
              }
              @include phone {
                margin: 0;
              }
            }
          }
        }
      }
    }
    .slick-dots {
      @include slickDots;
      padding: 20px;
      position: static;
    }
    .slick-active {
      button {
        &:before {
          color: $action1;
          opacity: 1;
        }
      }
    }
    &.slick-initialized {
      opacity: 1;
    }
    @include navbreak {
      padding: 0;
    }
  }
}