{% set moduleName = 'u4m-two-column' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

<div class="wrapper">
	<div class="page-center"> 

		{% if module.include_intro %}
		<div class='intro'>
			<div class='intro_cnt'>
				{{ module.intro_content }}
			</div>
		</div>
		{% endif %}
		{% if module.include_button %} 
		<div class="btn_row">
       {{macros.buttonGroupItems(module.buttons)}}
		</div>
		{% endif %}

		<div class="cm_cards">
			{% for item in module.content_group %}
			<div class="items">
				<div class="inner_cnt">
					<div class="top_cnt">
						{{ item.content }}
					</div>
					{% if  item.bottom_content_type %}
					<div class="btm_cnt">
						{% if  item.bottom_content_type == 'img_group' %}
						<div class="img_sec">
							{% for item2 in item.images_group %}
							<div class="img_items">
								{% if item2.image_field.src %}
								{% set sizeAttrs = 'width="{{ item2.image_field.width|escape_attr }}" height="{{ item2.image_field.height|escape_attr }}"' %}
								{% if item2.image_field.size_type == 'auto' %}
								{% set sizeAttrs = 'width="{{ item2.image_field.width|escape_attr }}" height="{{ item2.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
								{% elif item2.image_field.size_type == 'auto_custom_max' %}
								{% set sizeAttrs = 'width="{{ item2.image_field.max_width|escape_attr }}" height="{{ item2.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
								{% endif %}
								{% set loadingAttr = item2.image_field.loading != 'disabled' ? 'loading="{{ item2.image_field.loading|escape_attr }}"' : '' %}
								<img src="{{ item2.image_field.src|escape_url }}" alt="{{ item2.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }}>
								{% endif %}
							</div>
							{% endfor %}
						</div>
						{% elif item.bottom_content_type == 'normal_cnt'%}
						<div class="btm_cmCnt">
							{{ item.btm_content }}
							<div class="btn_cols">
                  {{macros.buttonGroup(item.buttons)}}
							</div>
						</div>
						{% endif %}
					</div>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


</section>

