{% if module.module_overrides.include_background_inside %}
{% set iner_bg = " inner_bg_add "%}
{% endif %}


{% set moduleName = 'u4m-cta-row'~iner_bg  %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

	
{% include "../partials/u4-module-includes.html" %}
<div class="wrapper {% if module.module_settings.center_content %}centercnt{% endif %} ">
	<div class="wrapper_inr">
		{% if module.include_content %}
		<div class='cnt_wrap span8'>
			<div class='cnt_wrap_inr'>
				{{ module.content }}
			</div>
		</div>
		{% endif %}
		{% if module.include_button %} 
		<div class="btn_row span4">
			{% for item in module.buttons %}
			{% if item.button_type == 'stnd' %} 
			{% set href = item.button_link.url.href %}
			{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
			{% set href = "mailto:" + href %}
			{% endif %}
			<a class="{{ item.theme }} hs-button"
				 {% if item.button_link.url.type is equalto "CALL_TO_ACTION"  %}
				 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
				 {% else %}
				 href="{{ href|escape_url }}"
				 {% endif %}
				 {% if item.button_link.open_in_new_tab %}
				 target="_blank"
				 {% endif %}
				 {% if item.button_link.rel %}
				 rel="{{ item.button_link.rel|escape_attr }}"
				 {% endif %}
				 >
				{{ item.button_text }}
			</a>
			{% else %}
			{% cta guid="{{ item.cta_field }}" %}
			{% endif %}
			{% endfor %}

		</div>
		{% endif %}
	</div>
</div>
</section>
{% if module.module_overrides.background_settings.add_overlay_image %} 
{% require_css %} 
<style>

	.{{ name }}.u4m-cta-row{
		background-image:url({{ module.module_overrides.background_settings.overlay_image.src }})
	}
	
</style>
{% end_require_css %}
{% require_js %}
<script>
$('.wrapper').parents().addClass('overlay_bg');
</script>
{% end_require_js %}
{% endif %}