@import "../../css/_module-imports";
.u4m-cta-row.dnd_padding {
  &.inner_bg_add {
    @include center;
    max-width: 1288px;
    padding: 110rem 40rem;
    border-radius: $borderRadius;
    width: calc(100% - 40px);
    @include tabletvert {
      padding: 110rem 20rem;
    }
  }

  &:not(.inner_bg_add) {
    .wrapper {
      @include center;
    }
  }

  &.overlay_bg {
    background-size: 98%;
    @include navbreak {
      background-size: cover;
    }
  }

  .wrapper.centercnt {
    .wrapper_inr {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
      .btn_row {
        width: 100%;
        justify-content: center;
      }
    }
  }
  .wrapper_inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    @include tabletmid {
      flex-direction: column;
      text-align: center;
    }
    .cnt_wrap {
      h2 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 10px;
      }
    }
    .btn_row {
      display: flex;
      align-items: flex-start;
      gap: 19px;
      @include tabletmid {
        align-items: center;
        width: 100%;
        justify-content: center;
      }
      @include phone {
        flex-direction: column;
        gap: 0;
        text-align: center;
        align-items: center;
      }
      a {
        white-space: nowrap;
      }
    }
  }
}
