@import "../../css/_module-imports";
.u4m-cta-row.dnd_padding {
  @include center;
  padding: 110rem 73rem;
  border-radius: $borderRadius;
  &.overlay_bg {
    background-size: 98%;
    @include navbreak {
      background-size: cover;
    }
  }

  .wrapper.centercnt {
    .wrapper_inr {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      flex-wrap: wrap;
    }
  }
  .wrapper_inr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    @include tabletmid {
      flex-direction: column;
      text-align: center;
    }
    .cnt_wrap {
      h2 {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 10px;
      }
    }
    .btn_row {
      display: flex;
      align-items: flex-start;
      gap: 19px;
      @include phone {
        flex-direction: column;
        gap: 0;
        text-align: center;
        align-items: center;
      }
    }
  }
}
