@import "../../css/_module-imports";
section.u4m-cta-row {
  margin-bottom: 100rem;
  &.reverse-text {
    color: $white;
  }
  div.inner {
    @include center;
    display: flex;
    justify-content: center;
    align-items: center;
    @include phone {
      display: block;
    }
    &.centered {
      display: block;
      div.copy,
      div.image {
        width: 100%;
        text-align: center;
      }
      div.image {
        margin-top: 50rem;
      }
    }
    div.copy {
      width: 50%;
      .heading {
        @include h2;
      }
      div.cta {
        a {
          @include button;
        }
      }
      @include phone {
        width: 100%;
        text-align: center;
      }
    }
    div.image {
      width: 50%;
      text-align: right;
      img {
        max-width: 400rem;
        @include tabletvert {
          max-width: 100%;
        }
      }
      @include phone {
        margin: 20rem auto 0 auto;
      }
    }
  }
}