{% set moduleName = 'u4m-base' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}
{% if module.include_intro %}
<div class='intro'>
	<div class='intro_cnt page-center'>
		{{ module.intro_content }}
	</div>
</div>
{% endif %}
{% if module.include_button %} 
<div class="btn_row">
	{% for item in module.buttons %}
	{% if item.button_type == 'stnd' %} 
	{% set href = item.button_link.url.href %}
	{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
	{% set href = "mailto:" + href %}
	{% endif %}
	<a class="{{ item.theme }} hs-button"
		 {% if item.button_link.url.type is equalto "CALL_TO_ACTION"  %}
		 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
		 {% else %}
		 href="{{ href|escape_url }}"
		 {% endif %}
		 {% if item.button_link.open_in_new_tab %}
		 target="_blank"
		 {% endif %}
		 {% if item.button_link.rel %}
		 rel="{{ item.button_link.rel|escape_attr }}"
		 {% endif %}
		 >
		{{ item.button_text }}
	</a>
	{% else %}
	{% cta guid="{{ item.cta_field }}" %}
	{% endif %}
	{% endfor %}

</div>
{% endif %}
 
<div class="wrapper">
	<div class="page-center"> 

	</div>
</div>


</section>

 