<div class="u4m-resource-post">

  {% set moduleName = 'resourcepostBnr' %}
  {% set imageMax = 1000 %}
  {% set bgImageMax = 1920 %}
  {% set listingPath = '/resources' %}

  {% include "../partials/u4-module-includes.html" %}
  <div class="page-center">
    <div class="intro_content col">
    {# <a href='{{ listingPath }}' class='all-resources'>
    <img src='https://www.appzen.com/hubfs/Appzen-u4m/images/backarrow.webp' width='20' style='
    filter: invert(1); display: inline-block;vertical-align: middle;' alt="star">
    &nbsp; ALL Resources</a>  #}
      <div class="post-details"> 
        <small>{{ dynamic_page_hubdb_row.categories.name }}</small>
        <h3>{{ dynamic_page_hubdb_row.title }}</h3>
      </div>
    </div>
  </div> 
  </section>

<section class="post-content-wrapper resources-content">
  <div class="post-content">
    {% if dynamic_page_hubdb_row.format.name == 'Video' or dynamic_page_hubdb_row.image.url %}
      <div class="featuredImageWrap {{ dynamic_page_hubdb_row.format.name }}">
        <div class="featuredImageCon">
        {% if dynamic_page_hubdb_row.format.name == 'Video' %}
          <div class="iframe-container">
          {{ dynamic_page_hubdb_row.video }}
          </div>
        {% else %}
          <img src="{{ dynamic_page_hubdb_row.image.url }}" alt="Featured Image" />
        {% endif %}
      </div>
      </div>
    {% endif %}
    {% if dynamic_page_hubdb_row.label_for_button_1 %}
    <h4 style="margin-bottom: 16rem;">{{ dynamic_page_hubdb_row.label_for_button_1 }}</h4>
    {% endif %}
    {{ dynamic_page_hubdb_row.description }}
    {% if (dynamic_page_hubdb_row.button_1_text) and (dynamic_page_hubdb_row.button1_link) %}
    <div style="margin-top:20rem;">
    <a class="primary hs-button" href="{{ dynamic_page_hubdb_row.button1_link }}">{{ dynamic_page_hubdb_row.button_1_text }}</a>
    </div>  
    {% endif %}
  </div>


  <!--  Related Post Articles -->
  <div class="post-related-articles">
    <div class="title-block">
      <h4>Related resources</h4>
    </div>
    <div class="related-post-wrap">
      <div class="flex_row">
        {% set table = module.select_hubdb_table %}
        {% set category = dynamic_page_hubdb_row.categories.name|urlencode %}
        {% set title = dynamic_page_hubdb_row.title %}
        {% if category != ""%}
        {% set data = hubdb_table_rows(table,'limit=3&categories__in='~ category) %}
        {% set i = 0 %}
        {% for item in data %}
        
        {% if item.hs_path  != dynamic_page_hubdb_row.hs_path %}
        <div class="card_item {% if item.format.name == 'Video' %} video_icon_display {% endif %} 
                    {% if not  module.resources.settings.include_featured_image %} no_img_card {% endif %}
                    ">
          <div class="card_inner white_bg">
          <a href="/resources/{{ item.hs_path }}" class="absLink"></a>
            {% if item.image.url %}
            <div class="card_img">
              <div class="card_img_inner" style="background-image:url({{ item.image.url }});">
                {% if item.format.name == 'Video' %} 
                <div class=" play_btn">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="32" viewBox="0 0 27 32" fill="none">
                    <path d="M26.668 15.9974L0.0937219 31.3401L0.0937232 0.654765L26.668 15.9974Z"/>
                  </svg>
                </div>
                {% endif %}
              </div>
            </div>
            {% endif %}
            <div class="card_cont_btm">
              <div class="card_meta">
                <div class="card_tag">
                  {{ item.categories.name }}
                </div>
              </div>     
              <h5 class="card_title">
                {{ item.title }}
              </h5>
            </div>
            {% if item.hs_path %}
            <div class="arrow_link"> 
              <a href="/resources/{{ item.hs_path }}" >
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                  <path d="M5.5 1L10.5 6L5.5 11" stroke="#574D4A"/>
                  <path d="M10.5 6L0.5 6" stroke="#574D4A"/>
                </svg>
              </a>
            </div> 
            {% endif %}
          </div>
        </div>
        {% endif %}
         {% set i = i + 1 %}
        {% endfor %}
        {% endif %}
      </div>
    </div>

  </div>
</section>
</div>


