@import "../../css/_module-imports";

section.u4m-logo-trust-marks {
  padding: 80px 0;
  &.inner_bg_add {
    @include center;
    padding: 110rem 73rem;
    border-radius: 12rem;
  }
  .intro.center {
    text-align: center;
  }
  .intro.right {
    text-align: right;
  }

  .intro {
    h4 {
      @include size28;
      font-weight: 400;
      line-height: 33.6px;
    }
  }

  .logo_section {
    .slider_enable {
      display: block;
    }
    .logo_wrapper.slider_wrapper {
      display: block;
      .slick-track {
        display: flex;
        align-items: center;
        img {
          margin: 0;
        }
      }
    }
    .logo_wrapper {
      padding: 20px 0;
      row-gap: 20px;
      @include laptop {
        justify-content: center;
      }
      .logo_items {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 120px;
          filter: grayscale(1);
          cursor: pointer;
          transition: all 0.3s;
        }
      }
    }
  }
  .logo_section.theme_three {
    .logo_wrapper {
      .logo_items {
        .logo_inner {
          @include cardBase;
          padding: 22px 38px;
          background-color: $white;
          aspect-ratio: 1 / 1;
          display: flex;
          align-items: center;
          justify-content: center;
          @include phone {
            padding: 20px;
          }
          img {
            margin: 0;
            filter: unset;
          }
        }
        &.col4 {
          .logo_inner {
            @include phone {
             padding: 22px 38px;
            }
          }
        }
      }
    }
  }

  .page-center > .flex_row {
    justify-content: center;
  }

  &.reverse-text {
    color: $white;
  }
  @include laptop {
    .col2,
    .col3 {
      width: 25%;
      padding: 0 10px;
    }
  }

  @include tabletvert {
    .col2,
    .col3 {
      width: 33.333%;
      padding: 0 10px;
    }
    .col4 {
      width: 33.333%;
      padding: 0 10px;
    }
  }
  @include phone {
    .col2,
    .col3 {
      width: 50%;
    }
    .col4 {
      width: 100%;
      padding: 0 10px;
    }
  }
}
