{% set moduleName = 'u4m-slider-simple' %}
{% set imageMax = 1000 %}
{% set sliderImageMax = 200 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

  <div class="content">
    {% if module.include_heading %}
      <h2 class="heading">{{ module.heading }}</h2>
    {% endif %}
    {% if module.include_intro_text %}
      <p class="intro">{{ module.intro_text }}</p>
    {% endif %}
    <div class="items">
      {% for item in module.field_group %}
      <div class="slide">
        {% if item.include_image %}
          {% if item.large_image %}
            <img loading="lazy" class="large" src="{{ item.testimonial_headshot.src }}" width="500" alt="{{item.testimonial_headshot.alt}}">
          {% else %}
            <div class="image lazy" data-bg="{{ resize_image_url(item.testimonial_headshot.src, 0,0,sliderImageMax) }}"></div>
          {% endif %}
        {% endif %}
        <span>
          {% if item.include_quote %}
            <p class="quote"><span>&ldquo;</span>{{ item.testimonial_quote }}<span>&rdquo;</span></p>
          {% endif %}
          {% if item.include_author_info %}
            <p class="author">{{ item.testimonial_author }} | <span>{{ item.testimonial_author_title }}</span></p>
          {% endif %}          
          {% if item.link_type == "cta" %}
           <span class="cta">{% cta guid="{{ item.call_to_action }}" %}</span>
          {% elif item.link_type == "url" %}
           <span class="url"><a href="{{ item.link.href }}" {% if item.open_in_new_window %}target="_blank"{% endif %}>{{ item.link_text }}</a></span>
          {% else %}
           {# no link #}
          {% endif %}
        </span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>