@import "../../css/_module-imports";
section.u4m-jump-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100rem 0;
  background-size: cover;
  background-position: 50% 50%;
  &.reverse-text {
    color: $white;
  }
  @include tablet {
    min-height: 0;
    height: auto;
  }
  div.container {
    max-width: 1060rem;
    .heading {
      @include h2;
      text-align: center;
      position: relative;
      &.white-text {
        color: $white;
      }
      &:before {
        background-color: $action1;
      }
    }
    .subheading {
      @include h5;
      text-align: center;
      &.white-text {
        color: $white;
      }
    }
    div.group {
      display: flex;
      flex-wrap: wrap;
      max-width: 1020rem;
      text-align: center;
      a.item {
        text-align: center;
        margin: 10rem;
        border-radius: $border1;
        padding: 25rem;
        flex-basis: calc(25% - 20rem);
        flex-grow: 0;
        flex-shrink: 0;
        @include tablet {
          flex-basis: calc(33.333% - 20rem);
          flex-grow: 0;
          flex-shrink: 0;
          padding: 10rem;
        }
        @include phone {
          flex-basis: calc(50% - 20rem);
          flex-grow: 0;
          flex-shrink: 0;
        }
        img.image {
          max-width: 100rem;
          margin-bottom: 30rem;
        }
        .title {
          display: block;
          color: $action1;
          font-weight: bold;
        }
        .caption {
          @include b4;
          display: block;
          color: $black;
        }
        &:not(.no-link) {
          &:hover {
            transition: $animation1;
            background-color: $action1;
            .caption,
            .title {
              color: $white;
            }
          }
        }
      }
    }
  }
}