<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Appzen - Blog Listing
-->
{% extends './base.html' %} {% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area_blog' label='Main Content' class="main-dnd-area" %} {%
  dnd_section padding={ "default":{ "bottom":"0" } } %} {% dnd_column padding={
  "default":{ "left":"0", "right":"0" } } %} {% dnd_row %} {% dnd_module
  path='../modules/u4m-blog-listing' %} {% end_dnd_module %} {% end_dnd_row %}
  {% end_dnd_column %} {% end_dnd_section %} {% end_dnd_area %}
</main>
{% endblock body %}
