@import "../../css/_module-imports";

.u4m-webinars {
  @include tabletmidmin {
    .page-center {
      > .flex_row {
        margin: 0 -10px;
      }
    }
  }
  .left_col {
    padding-right: 40px;
    @include tabletmid {
      padding-right: 0;
      margin-bottom: 20px;
    }
    .img_wrapper {
      padding-bottom: 20px;
      img {
        border-radius: 8px;
      }
    }
    .title {
      h3 {
        margin-bottom: 13rem;
      }
    }
    .btn_wrapper {
      margin-top: 10px;
    }
    .webinars_first_item {
      position: sticky;
      top: 20px;
    }
  }
  .date_section {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    @include tabletvert {
      flex-direction: column;
    }
  }
  .date_sec {
    font-size: 13px;
    line-height: 20.8px;
    color: $tagcolor;
    gap: 2px;
    display: flex;
    align-items: center;
    @include tabletvert {
      gap: 5px;
    }
    span {
      > svg {
        vertical-align: middle;
        position: relative;
        top: -2px;
      }
    }
  }
  .title h2 {
    margin-bottom: 13px;
  }
  .content p {
    font-size: 14px;
    line-height: 21px;
  }
  .upcoming {
    font-size: 12px;
    background: $yellowColor;
    line-height: 19.2px;
    padding: 4px 8px;
    color: $basecolor;
    display: inline-block;
    font-weight: 500;
  }
  .sold_out {
    border: 1px solid $lightGray;
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 500;
  }
  .on-demand {
    padding: 3px 8px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 19.2px;
    font-weight: 500;
    background: $sectionbg;
    color: $basecolor;
  }
  .right_col {
    .webinars_item {
      border: 1px solid $lightGray;
      border-radius: 8px;
      padding: 7px;
      margin-bottom: 20px;
      .flex_wrap {
        display: flex;
        justify-content: space-between;
        column-gap: 37px;
        @include tabletmid {
          column-gap: 20px;
        }
        @include phone {
          flex-wrap: wrap;
          gap: 20px;
        }
        .image_sec {
          flex: 0 0 36.333%;
          position: relative;
          min-width: 200px;
          @include phone {
            flex: 0 0 100%;
          }
          img {
            height: 100%;
            min-height: 200px;
            max-width: 100%;
            object-fit: cover;
            width: 100%;
            object-position: right;
            border-radius: 4px;
            @include tabletmid {
              height: 220px;
            }
            @include phone {
              height: auto;
            }
          }
          .play_icon {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
            width: 66px;
            height: 66px;
            padding: 20px;
            background: $basecolor90;
            border-radius: 3.29px;
            cursor: pointer;
          }
        }
        .right_content {
          flex: 1;
          padding-right: 25px;
          padding-top: 25px;
          .cntnt_wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            > * {
              width: 100%;
            }
          .title h5 {
            margin: 0;
          }
          .btn_wrapper {
            text-align: right;
            margin-top: auto;
            img {
              width: 15px;
            }
          }
        }
        }
      }
    }
  }
  .popup_section {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: $black80;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    .page-center {
      width: 100%;
      .inner {
        padding-bottom: 56%;
        position: relative;
        iframe {
          width: 100%;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
        }
      }
    }
    .close_icon {
      position: absolute;
      right: 30px;
      top: 10px;
      color: $white;
      font-size: 30px;
      cursor: pointer;
      line-height: 1;
    }
  }
  .pop-active .popup_section {
    visibility: visible;
    opacity: 1;
  }
  @include tabletmid {
    .flex_row .col7 {
      width: 100%;
    }
    .flex_row .col5 {
      width: 100%;
    }
  }
  &.reverse-text {
    .date_sec {
      color: $white;
      span {
        > svg {
          path {
            fill: $white;
          }
        }
      }
    }
    .webinars_item {
      .right_content {
        .btn_wrapper {
          .button_item {
            svg {
              path {
                stroke: $white;
              }
            }
          }
        }
      }
    }
  }
}
