{% set moduleName = 'u4m-case-study-listing' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

{% set table = module.select_hubdb_table %} 
{% set batch_num = 6 %}
{% if not request.query_dict.page %}
{% set page_num = 1 %}
{% set offset_num = 0 %}
{% elif request.query_dict.page %}
{% set page_num = request.query_dict.page %}
{% set offset_num = page_num|add(-1) * batch_num %}
{% endif %}


{% set query = 'orderBy=-hs_created_at&limit='~ batch_num ~ "&offset=" ~ offset_num   %}

{% if request.query_dict.category &&  request.query_dict.category != "all"  %}
{% set query =  query ~ '&category__in=' ~ request.query_dict.category %} 
{% endif %}

{% set rows = hubdb_table_rows(table, query) %}

<div class="page-center">
  <div class="flex_row">
    <div class="filter_sidebar">
      <div class="filter_sidebar_inner">
        <div class="filter_item active">
          <button data-tag="" >
            All
          </button>
        </div>
        {% for tag in hubdb_table_column(table, 'category').options %}
        <div class="filter_item">
          <button data-tag="{{tag.name}}">
            {{tag.name}}
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="case_listing_column">	 
      <div class="case_listing_wrap">  
        {% for row in rows %}
        {% if row.image.url %}
        {% set bgImag = row.image.url %}
        {% else %}
        {% set bgImag = row.featured_image.url %}
        {% endif %}
        <div class="case_card qryitem col4 col {% for tag in tagsList%}{% if tag.name == row.category.name %}category{% else %}no-match{% endif %}{% endfor %}" data-category="{{row.category.name}}">
          <div class="case_card_inner">
            <div class="card_img" style="background-image: url({{bgImag}})">
              <div class="inner_wrapper">
              <a href="{{ row.link }}" class="absLink"></a>
                {% if row.logo.url %}
                <span class="logo">
                  <img src="{{row.logo.url}}" allt="{{ row.name }}"/>
                </span>
                {% endif %} 
                <div class="hover_content_wrap">
                  <div class="hover_content">
                    <span class="price">{{row.price}}</span>
                    <span class="subtitle">{{row.subtitle}}</span>
                  </div>
                </div> 
              </div>
            </div> 
            <div class="card_title">
              <h4>
                <a href="{{ row.link }}" style="color: inherit;">{{row.name}}</a>
              </h4>
            </div> 
          </div>
        </div>
        {% endfor %} 
      </div>   
      <p class="noText" style="display:none;">
      Nothing Found. Please try a different search.
      </p>

      {% set nav = hubdb_table_rows(table, query) %}
      {% set total_pages = nav|length|divide(batch_num)%}
      {% set more_pages = nav|length % batch_num %}
      {% if more_pages == 0 %}
      {% set total_pages = total_pages %}
      {% else %}
      {% set total_pages = total_pages + 1 %}
      {% endif %}

      {# set the number of pages #}
      {% if nav|length % batch_num == 0 %}
      {% set total_pages = (nav|length / batch_num) %}
      {% else %}
      {% set total_pages = (nav|length / batch_num)|round('floor') + 1 %}
      {% endif %}


      {% set typesPage = request.query_dict.category %} 
      {% if typesPage %}
      {% set typesQuery = "&category=" ~ typesPage %}
      {% set paginationQuery = typesQuery %}
      {% else %}    
      {% set typesQuery = "" %}
      {% endif %}


      <div class="pagin">
        {% if total_pages > more_pages %}
        <div class="loadmore_btn col pagination-wrapper">
          <a class="prev page-numbers secondary" id="load-more" 
             href="{{ content.absolute_url}}?page={{ page_num|add(1) }}{{ paginationQuery }}">
            Load More
          </a>
        </div>  
        {% endif %}

      </div>

    </div>
  </div>
</div>



</section>


