{% set moduleName = 'u4m-case-study-listing' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}



{% set table = module.select_hubdb_table %}

{% set query = '' %}

{% if request.query_dict.category && request.query_dict.category != '' %}
{% set query = query ~ '&category__in=' ~ request.query_dict.category %}
{% endif %}





<div class="page-center">
	<div class="flex_row">

		<div class="filter_sidebar">
			<div class="filter_sidebar_inner">

				{% for tag in hubdb_table_column(table, 'category').options %}
				<div class="filter_item">
					<button data-tag="{{tag.name}}">
						{{tag.name}}
					</button>
				</div>
				{% endfor %}

			</div>
		</div>


		<div class="case_listing_column">	

			{% set tagsList = [] %}
			{% for tag in hubdb_table_column(table, 'category').options %}
			{% if loop.index < 6 %}
			{% do schemaArr.append(tag  ) %}
			{% endif%}
			{% endfor %}

			<div class="case_listing_wrap">
				{% for row in hubdb_table_rows(table, query) %}

				{% if row.image.url%}
				{% set bgImag = row.image.url%}
				{% else %}
				{% set bgImag = row.featured_image.url%}
				{% endif %}
				<div class="case_card col4 col {% for tag in tagsList%}{% if tag.name == row.category.name %}category{% else %}no-match{% endif %}{% endfor %}" data-category="{{row.category.name}}">
					<div class="case_card_inner">
						<div class="card_img" style="background-image: url({{bgImag}})">
						<div class="inner_wrapper">
						{% if row.logo.url %}
							<span class="logo">
								<img src="{{row.logo.url}}"/>
							</span>
							{% endif %}

							<div class="hover_content_wrap">
							<div class="hover_content">
								<span class="price">{{row.price}}</span>
								<span class="subtitle">{{row.subtitle}}</span>
							</div>
							</div>

						</div>
						</div>

						<div class="card_title">
							<h4>
								{{row.name}}
							</h4>
						</div>

					</div>
				</div>
				{% endfor %}
			</div>

			<div class="loadmore_btn col">
				<a href="javascript:;" class="secondary hs-button">Load More</a>
			</div>

		</div>
	</div>
</div>



</section>


