<section class="u4m-blog-listing">
  <div class="page-center">
    <div class="listing-title">
      {% if topic %}
      <h1>{{ topic|capitalize | replace('-',' ') }}</h1>
      {% elif blog_author %}
      <h1>{{ blog_author }}</h1>
      {% else %}
      <h1>{{ group.public_title }}</h1>
      {% endif %}
    </div>

    {% if module.recent_post %}
    <div class="blog-large-post-wrap">
      {% for content in contents %} {% if loop.index == 1 %}
      <div
        class="post-item large-post {% if not content.post_list_summary_featured_image %} no-featured-img {% endif %}"
      >
        {% if content.post_list_summary_featured_image %}
        <div class="post-featured-img">
          <a href="{{content.absolute_url}}">
            <img
              src="{{ content.post_list_summary_featured_image }}"
              alt="{{ content.name | striptags }}"
            />
          </a>
        </div>
        {% endif %}
        <div class="post-content-col">
          {% if content.topic_list %}
          <div class="content-topic">
            {% for topic in content.topic_list %}
            <a
              class="topic-link"
              href="{{ blog_tag_url(group.id, topic.slug) }}"
              >{{ topic.name }}</a
            >{% if not loop.last %} ,{% endif %} {% endfor %}
          </div>
          {% endif %}
          <h3 class="post-title">
            <a href="{{content.absolute_url}}" title="{{ content.name }}"
              >{{ content.name }}</a
            >
          </h3>

          <div class="post-item-content">
            {{ content.post_list_content|striptags|truncatehtml(250,'...' ,
            false) }}
          </div>
          <div class="post-item-link">
            <a href="{{ content.absolute_url }}">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="none"
              >
                <path d="M5.5 1L10.5 6L5.5 11" stroke="#574D4A" />
                <path d="M10.5 6L0.5 6" stroke="#574D4A" />
              </svg>
            </a>
          </div>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="blog-listing-wrap">
      <div class="listing-sidebar">
        {% if module.sidebar_top_text %}
        <h6>{{ module.sidebar_top_text }}</h6>
        {% endif %} {% if module.site_search_boolean %}
        <div class="site-search">
          {# Need help setting up site search? Start here:
          https://knowledge.hubspot.com/articles/kcs_article/cos-general/how-do-i-set-up-a-results-page-for-my-search-field-in-hubspot
          #} {% set search_page =
          module.site_search.results.use_custom_search_results_template is
          truthy and module.site_search.results.path_id ?
          content_by_id(module.site_search.results.path_id).absolute_url :
          site_settings.content_search_results_page_path %} {% unless
          (search_page is string_containing "//") %} {% set search_page = "/" ~
          search_page %} {% endunless %} {% set search_page =
          search_page|regex_replace("http:", "") %}

          <div class="hs-search-field">
            <div class="hs-search-field__bar">
              <button class="search-icon" aria-label="Search">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M19.4844 20.1538L13.2229 13.8923C12.7229 14.318 12.1479 14.6475 11.4979 14.8808C10.8479 15.1141 10.1947 15.2308 9.53837 15.2308C7.9367 15.2308 6.58112 14.6764 5.47162 13.5675C4.36228 12.4587 3.80762 11.104 3.80762 9.50329C3.80762 7.90245 4.36203 6.54654 5.47087 5.43554C6.5797 4.3247 7.93445 3.76929 9.53512 3.76929C11.136 3.76929 12.4919 4.32395 13.6029 5.43329C14.7137 6.54279 15.2691 7.89837 15.2691 9.50004C15.2691 10.1949 15.146 10.8673 14.8999 11.5173C14.6537 12.1673 14.3306 12.723 13.9306 13.1845L20.1921 19.4463L19.4844 20.1538ZM9.53837 14.2308C10.8652 14.2308 11.9854 13.774 12.8989 12.8605C13.8124 11.9472 14.2691 10.827 14.2691 9.50004C14.2691 8.17304 13.8124 7.05287 12.8989 6.13954C11.9854 5.22604 10.8652 4.76929 9.53837 4.76929C8.21137 4.76929 7.0912 5.22604 6.17787 6.13954C5.26437 7.05287 4.80762 8.17304 4.80762 9.50004C4.80762 10.827 5.26437 11.9472 6.17787 12.8605C7.0912 13.774 8.21137 14.2308 9.53837 14.2308Z"
                    fill="#3D3533"
                  />
                </svg>
              </button>
              <form
                data-hs-do-not-collect="true"
                action="{{ search_page|escape_url }}"
              >
                {% if module.site_search.field_label %}
                <label for="term"
                  >{{ module.site_search.field_label|sanitize_html }}</label
                >
                {% endif %} <input type="text" class="hs-search-field__input"
                name="term" autocomplete="off" aria-label="{{
                module.site_search.field_label|escape_attr || "Search" }}"
                placeholder="{{ module.site_search.placeholder|escape_attr }}">
                {% if module.site_search.content_types.website_pages %}
                <input type="hidden" name="type" value="SITE_PAGE" />
                {% endif %} {% if module.site_search.content_types.landing_pages
                %}
                <input type="hidden" name="type" value="LANDING_PAGE" />
                {% endif %} {% if module.site_search.content_types.blog_posts %}
                <input type="hidden" name="type" value="BLOG_POST" />
                <input type="hidden" name="type" value="LISTING_PAGE" />
                {% endif %} {% if
                module.site_search.content_types.knowledge_articles %}
                <input type="hidden" name="type" value="KNOWLEDGE_ARTICLE" />
                {% endif %} {% if module.site_search.content_types.case_studies
                %}
                <input type="hidden" name="type" value="HS_CASE_STUDY" />
                {% endif %} {% if module.site_search.include_search_button %}
                <button aria-label="Search">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M19.4844 20.1538L13.2229 13.8923C12.7229 14.318 12.1479 14.6475 11.4979 14.8808C10.8479 15.1141 10.1947 15.2308 9.53837 15.2308C7.9367 15.2308 6.58112 14.6764 5.47162 13.5675C4.36228 12.4587 3.80762 11.104 3.80762 9.50329C3.80762 7.90245 4.36203 6.54654 5.47087 5.43554C6.5797 4.3247 7.93445 3.76929 9.53512 3.76929C11.136 3.76929 12.4919 4.32395 13.6029 5.43329C14.7137 6.54279 15.2691 7.89837 15.2691 9.50004C15.2691 10.1949 15.146 10.8673 14.8999 11.5173C14.6537 12.1673 14.3306 12.723 13.9306 13.1845L20.1921 19.4463L19.4844 20.1538ZM9.53837 14.2308C10.8652 14.2308 11.9854 13.774 12.8989 12.8605C13.8124 11.9472 14.2691 10.827 14.2691 9.50004C14.2691 8.17304 13.8124 7.05287 12.8989 6.13954C11.9854 5.22604 10.8652 4.76929 9.53837 4.76929C8.21137 4.76929 7.0912 5.22604 6.17787 6.13954C5.26437 7.05287 4.80762 8.17304 4.80762 9.50004C4.80762 10.827 5.26437 11.9472 6.17787 12.8605C7.0912 13.774 8.21137 14.2308 9.53837 14.2308Z"
                      fill="#3D3533"
                    />
                  </svg>
                </button>
                {% endif %}
              </form>
            </div>
            <ul class="hs-search-field__suggestions"></ul>
          </div>
        </div>
        {% endif %}
        <div class="sidebar-tag">
          {% set my_topics = blog_topics('default', 100) %}
          <ul>
            {% for item in my_topics %}
            <li>
              <a href="{{ blog_tag_url(group.id, item.slug) }}">{{ item }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% if module.form.form_title or module.form.form.form_id %}
        <div class="sidebar-form">
          {% if module.form.form_title %}
          <h6>{{ module.form.form_title }}</h6>
          {% endif %} {% form form_to_use="{{ module.form.form.form_id }}"
          response_response_type="{{ module.form.form.response_type }}"
          response_message="{{ module.form.form.message }}"
          response_redirect_id="{{ module.form.form.redirect_id }}"
          response_redirect_url="{{module.form.form.redirect_url}}"
          gotowebinar_webinar_key="{{ module.form.form.gotowebinar_webinar_key
          }}" %}
        </div>
        {% endif %}
      </div>
      <div class="blog-listing-item-wrap">
        <div class="blog-listing-item flex_row">
          {% for content in contents %}
          <div class="post-item col4 col">
            <div class="post-content-col card_inner">
              {% if module.post_item.tag %} {% if content.topic_list %}
              <div class="content-topic">
                {% for topic in content.topic_list %}
                <a
                  class="topic-link"
                  href="{{ blog_tag_url(group.id, topic.slug) }}"
                  >{{ topic.name }}</a
                >{% if not loop.last %},{% endif %} {% endfor %}
              </div>
              {% endif %} {% endif %} {% if module.post_item.post_title %}
              <h5 class="post-title">
                <a href="{{content.absolute_url}}" title="{{ content.name }}"
                  >{{ content.name }}</a
                >
              </h5>
              {% endif %} {% if module.post_item.arrow %}
              <div class="post-item-link">
                <a href="{{ content.absolute_url }}">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="12"
                    viewBox="0 0 12 12"
                    fill="none"
                  >
                    <path d="M5.5 1L10.5 6L5.5 11" stroke="#574D4A" />
                    <path d="M10.5 6L0.5 6" stroke="#574D4A" />
                  </svg>
                </a>
              </div>
              {% endif %}
            </div>
          </div>

          {% endfor %}
        </div>
        {% if not simple_list_page %}
        <div class="blog-pagination">
          {% if next_page_num %}
          <a
            class="next-posts-link load-more"
            href="{{ blog_page_link(next_page_num) }}"
            >Load More</a
          >
          {% else %}
          <div class="no-post" href="">No More Posts</div>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
