@import "../../css/_module-imports";
section.u4m-features-table {
  margin-top: 100rem;
  &.reverse-text {
    .header .intro,
    .header .version {
      color: $white;
    }
  }
  &.narrow {
    div.header,
    div.section {
      @include centerSmall
    }
  }
  div.header {
    @include center;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10rem;
    .intro {
      flex: 0 0 50%;
      .title {
        @include h2;
        margin-bottom: 20rem;
        @include phone {
          @include h6;
        }
      }
      p {
        padding-bottom: 20rem;
      }
    }
    span.version {
      flex: 0 0 25%;
      text-align: center;
      padding-top: 20rem;
      font-weight: bold;
      @include phone {
        @include b6;
      }
    }
  }
  div.section {
    @include center;
    .title {
      @include b3;
      background-color: $gray3;
      margin: 0;
      padding: 8rem 15rem;
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
      @include phone {
        @include b6;
      }
    }
    div.item {
      display: flex;
      flex-wrap: nowrap;
      div.item-name {
        margin: 0;
        padding: 5rem 15rem;
        flex: 0 1 50%;
        font-size: 14rem;
        @include phone {
          @include b6;
          margin-bottom: 0;
        }
      }
      div.second-box,
      div.third-box {
        flex: 0 0 25%;
        margin: 0;
        padding: 5rem 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        span.includes {}
        @include phone {
          @include b6;
          margin-bottom: 0;
        }
      }
      background-color: $white;
      &:nth-of-type(odd) {
        background-color: $gray1;
      }
      &:last-of-type {
        >div {}
      }
    }
    &:last-of-type {}
  }
}