@import "../../css/_module-imports";
section.u4m-side-cta {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 99999;
  display: none;
  @include phone {
    // opacity: 0;
    // width: 0;
    // height: 0;
  }
  .link {
    transition: all 0.5s ease-out;
    transform: translateX(300rem);
    position: absolute;
    right: 0;
    div.cta {
      display: flex;
      div.inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80rem;
        height: 80rem;
        border-radius: 3rem 0 0 3rem;
        padding: 10rem 15rem;
        box-shadow: 0 15rem 30rem rgba($gray3, 0.22);
        div.image {
          line-height: 0;
          margin-bottom: 5rem;
          svg {
            max-width: 20rem;
            g {}
          }
        }
        span.title {
          font-size: 12rem;
          line-height: 1.1;
          text-align: center;
        }
      }
      div.outer {
        width: 300rem;
        transition: all 0.5s ease-out;
        padding: 35rem;
        height: 100%;
        background-color: $white;
        box-shadow: 0 15rem 30rem rgba($gray3, 0.22);
        position: relative;
        p {
          color: $gray3;
          font-size: 14rem;
        }
        button {
          padding: 5rem 20rem;
          font-size: 12rem;
        }
      }
      .wrapper {
        a {
          @include buttonSmall;
          margin: 0;
        }
      }
    }
    &:first-of-type {
      margin-bottom: 25rem;
      transform: translateX(300rem) translateY(-430rem);
      div.cta {
        align-items: flex-end;
      }
      &:hover {
        transform: translateX(0rem) translateY(-430rem);
      }
      div.inner {
        transform: translateY(80rem);
      }
      div.outer {
        transform: translateY(80rem);
      }
    }
    &:hover {
      transform: translateX(0rem);
      transition: all 0.5s ease-out;
      >div.cta {
        >div.outer {
          height: 100%;
          transition: all 0.5s ease-out;
        }
      }
    }
    @include phone {
      transform: none;
      &:hover {
        transform: none;
      }
      &:first-of-type {
        transform: translateX(0rem) translateY(10rem);
        &:hover {
          transform: translateX(0rem) translateY(10rem);
        }
      }
      div.outer {
        display: none;
      }
    }
    &:first-of-type {
      .button-wrapper {
        transform: translateY(80rem);
      }
    }
  }
  &.left-side {
    left: 0;
    right: auto;
    .link {
      transform: translateX(80rem);
      div.cta {
        div.inner {
          order: 2;
          border-radius: 0 3rem 3rem 0;
        }
      }
      &:hover {
        transform: translateX(380rem);
      }
      &:first-of-type {
        transform: translateX(80rem) translateY(-430rem);
        &:hover {
          transform: translateX(380rem) translateY(-430rem);
        }
      }
      @include phone {
        &:hover {
          transform: translateX(80rem);
          ;
        }
        &:first-of-type {
          transform: translateX(80rem) translateY(10rem);
          &:hover {
            transform: translateX(80rem) translateY(10rem);
          }
        }
        div.outer {
          display: none;
        }
      }
    }
  }
}