<!--
 templateType: global_partial
 label: Website Header
 -->
<div class="headerWrap">
  <div class="HeaderTopSec">
    {% dnd_area "top_section" %} {% dnd_module
    path="../../modules/u4m-information-banner", label="Information Banner" %}
    {% end_dnd_module %} {% end_dnd_area %}
  </div>
  <header class="u4m-header">
    <div class="headerIn">
      <div class="flex_row">
        <div class="left_sec flex_row">
          <div class="headerLogo normal">
            {% module "header_logo" path="@hubspot/logo", label="Header Logo",
            img={src= "{{
            get_asset_url('../../templates/images/appzen-logo.png') }}",
            width=200, override_inherited_src= true, alt="Appzen" } , link="/"
            %}
          </div>
          <div class="headerLogo sticky">
            {% module "header_sticky_logo" path="@hubspot/logo", label="Header
            Sticky Logo", img={src= "{{
            get_asset_url('../../templates/images/AppzenScroll.png') }}",
            width=52, override_inherited_src= true, alt="Appzen" } , link="/" %}
          </div>
          <div class="headerMenu">
            {% module "mega__menu" path="../../modules/u4m-mega-menu",
            label="Mega Menu" %}
            <div class="hdrbtn desktopHide">
              {% module "demo_button" path="@hubspot/button",no_wrapper="true",
              link={ "url": { "type": "EXTERNAL", "href": "#", "content_id":
              null }, "open_in_new_tab": false, "no_follow": false },
              button_text="Get a Demo",label="Demo Button" %}
            </div>
          </div>
        </div>
        <div class="hdrTrigger desktopHide">
          <div class="mobile-trigger"><i></i></div>
        </div>
        <div class="right_sec hdrbtn mobileHide">
          {% module "demo_button" path="@hubspot/button",no_wrapper="true",
          link={ "url": { "type": "EXTERNAL", "href": "#", "content_id": null },
          "open_in_new_tab": false, "no_follow": false }, button_text="Get a
          Demo",label="Demo Button" %}
        </div>
      </div>
      <div class="HeaderSticky">
        {% menu "page_sticky_menu" id=183457392015, overrideable=False,
        root_type='site_root', flyouts='false', max_levels='5',
        flow='horizontal', label='Page Sticky Menu' %}
      </div>
    </div>
  </header>
  <div class="HeaderBtmSec">
    {% dnd_area "bottom_section" %}{% end_dnd_area %}
  </div>
</div>
