@import "../../css/_module-imports";
section.u4m-section-intro {
  &.reverse-text {
    color: $white;
  }
  margin-top: 100rem;
  margin-bottom: 100rem;
  text-align: center;
  @include phone {
    margin-top: 50rem;
    margin-bottom: 50rem;
  }
  .inner {
    @include center;
    max-width: 1000rem;
    img.image {
      @include phone {
        max-width: 100%;
      }
    }
    .heading {
      @include h2;
    }
    p.content {}
    div.link {
      a {
        @include button;
      }
    }
  }
}