{% set moduleName = 'u4m-animated-stats' %}
  {% set bgImageMax = 1920 %}
  
  {% include "../partials/u4-module-includes.html" %}
  <h2 class="heading">{{ module.animated_stats_heading }}</h2>
  {% if module.include_intro %}
  <div class="intro">{{ module.intro_text }}</div>
  {% endif %}
  <div class="statistics items-{{module.items_per_row}}">
    {% for item in module.statistic_group %}
    <div class="statistics__item">
      {% if item.include_image %}
      <div class="image">
        <img loading="lazy" src="{{ item.image_field.src }}" width="80" alt="{{ item.image_field.alt }}">
      </div>
      {% endif %}
      {% if item.show_top_caption %}<span class="caption ">{{ item.top_caption }}</span>{% endif %}
      {% if item.show_currency_label %}<span class="currency">{{ item.currency_label }}</span>{% endif %}        
      <span class="number {% unless item.disable_animation %}count{% endunless %}">{{ item.numeric_stat }}</span>
      {% if item.show_stat_unit %}<span class="unit">{{ item.stat_unit }}</span>{% endif %}
      {% if item.show_bottom_caption %}<span class="caption ">{{ item.bottom_caption }}</span>{% endif %}
    </div>
    {% endfor %}
  </div>
  </section>
  
  
  
  
  {% require_js %}
  <script>
    {
      const onScroll = (entries, obs) => {
        entries.forEach(entry => {
          if (!entry.isIntersecting) entry.target.classList.remove('is-in-viewport');
          else {
            entry.target.classList.add('is-in-viewport');
  
            $('.count').each(function () {
              $(this).prop('Counter',0).animate({
                Counter: $(this).text()
              }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                  // $(this).text(Math.ceil(now));
                  $(this).text(Math.ceil(now).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"));
                  $(this).removeClass( "count" )
                }
              });
            });
  
          }
        });
      };
  
      const options = {
        threshold: .75 // 50% of element in view
      }
  
      const observer = new IntersectionObserver(onScroll, options);
      document.querySelectorAll("section.{{moduleName}}.{{name}}").forEach(section => observer.observe(section));
  
                                }
  
  
  </script>
  {% end_require_js %}
  
  
  
  
  
  
  