{% set moduleName = 'u4m-subscribe' %}
{% include "../partials/u4-module-includes.html" %}
  <div class="inner">
    <div class="left">
      {{ '<h3>{{ module.headline_text }}</h3>' if module.headline_text }}
      {{ '<p>{{ module.subtext }}</p>' if module.include_subtext }}
    </div>
    <div class="right"
         data-blog-id='{{ content_group_id }}'>
      {% if module.select_blog %}
      {% blog_subscribe "blog_subscribe"
        select_blog='{{ module.select_blog }}',
        title='{{ module.title }}',
        no_title=True,
        response_message='{{ module.response_message }}'
      %}
      {% else %}

        {# Sample form for styling until a form is set or created #}
        <form disabled class='sample-form hs-form'>
          <div class="hs_email hs-email hs-fieldtype-text field hs-form-field">
            <label id="label-email-dummy" 
              class="" 
              placeholder="Enter your Email" for="email-dummy">
              <span>Email</span>
              <span class="hs-form-required">*</span>
            </label>
            <div class="input">
              <input id="email-dummy"  
                      title='Please setup a subscribe recipient in the Subscripton Settings. For more information, check the module help text.'
                      name="email"
                      required="" placeholder="Placeholder Subscription Form" type="email" class="hs-input" inputmode="email" autocomplete="email" value="">
            </div>
            {#
              <ul class="no-list hs-error-msgs inputs-list" role="alert"><li><label class="hs-error-msg">Email must be formatted correctly.</label></li></ul>
              #}
          </div>
          <div class="hs_submit hs-submit">
              <div class="actions">
                <input type="submit" class="hs-button primary large" value="Subscribe">
              </div>
          </div>
        </form>
      {% endif %}
      
    </div>  
  </div>
</section>