@import "../../css/_module-imports";
section.u4m-timeline {
  padding: 100rem 0;
  .inner {
    @include center;
    .timeline {
      width: 100%;
      max-width: 1024rem;
      margin: 0 auto;
      h2 {
        @include h2;
        text-align: center;
      }
      .timeline-entry {
        display: flex;
        @include tabletvert {
          display: block;
        }
        div {
          flex-basis: calc(50% - 5rem);
          flex-shrink: 0;
          flex-grow: 0;
          &.timeline-entry-info {
            padding: 50rem 20rem;
            flex-basis: 50%;
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            @include ie {
              flex-basis: calc(50% - 45rem);
            }
            h3 {
              @include h3;
            }
            &:before {
              content: '';
              display: block;
              width: 30rem;
              height: 30rem;
              background: $action2;
              border-radius: 100%;
              position: absolute;
              top: 0;
            }
            @include tabletvert {
              padding: 0rem 20rem 50rem 40rem;
              width: 100%;
              display: block;
              &:before {
                top: 10rem;
              }
            }
          }
        }
        &:nth-child(even) {
          .timeline-entry-info {
            order: 2;
            border-left: 5rem solid $action2;
            &:before {
              left: -17rem;
            }
          }
        }
        &:nth-child(odd) {
          .timeline-entry-info {
            border-right: 5rem solid $action2;
            &:before {
              right: -17rem;
            }
            @include tabletvert {
              border-right: none;
              border-left: 5rem solid $action2;
              &:before {
                right: 0;
                left: -17rem;
              }
            }
          }
        }
        // Down Arrow Business
        &:last-child {
          .timeline-entry-info:after {
            content: '';
            display: block;
            border: 20rem solid $action2;
            position: absolute;
            bottom: -5rem;
            border-color: $action2 transparent transparent transparent;
            border-width: 30rem 20rem 0;
          }
          &:nth-child(even) {
            .timeline-entry-info:after {
              left: -23rem;
            }
          }
          &:nth-child(odd) {
            .timeline-entry-info:after {
              right: -23rem;
              @include phone {
                right: calc(100% - 18rem);
              }
            }
          }
        }
      }
    }
  }
}