@import "../../css/_module-imports";

.u4m-case-study-post {
  display: block;
  position: relative;
  .post-body-inn {
    @include tabletmid {
      .col9,
      .col3 {
        width: 100%;
      }
    }
  }
  .post-content {
    padding-right: 11.36vw;
    @include tabletmid {
      padding-right: 0;
    }
    blockquote {
      margin: 40px 0;
      border-left: 8px solid $LightPink;
    }
    code {
      white-space: normal;
      margin: 0;
    }
    h6 {
      line-height: 1.6;
      margin-bottom: 20px;
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      @include size18;
      line-height: 1.6;
    }
    p:last-child {
      margin-bottom: 0;
    }
    .post-img-row {
      margin-bottom: 30px;
      .post-cnt-img {
        margin-top: 100px;
        margin-bottom: 20px;
        border-radius: $borderRadius;
        @include tabletmid {
          margin-top: 20px;
        }
      }
      .img-caption {
        @include size14;
        line-height: 1.5;
      }
    }
  }
  .post-sidebar {
    @include tabletmid {
      margin-top: 30px;
    }
    .post-sidebar-inn {
      position: sticky;
      top: 100px;
      @include tabletmid {
        position: static;
      }
    }

    h6 {
      line-height: 1.6;
      margin-bottom: 8px;
    }
    .post-subscribe-row {
      margin-bottom: 30px;
      .post-subscribe-form {
        @include sidebar-form;
      }
    }
    .post-counter {
      > h6 {
        margin-top: 40px;
        margin-bottom: 30px;
      }
      .post-counter-item {
        border-bottom: 0.5px solid $sidebarplaceholder;
        margin-bottom: 30px;
        h2 {
          margin-bottom: 8px;
        }
        p {
          @include size14;
          line-height: 1.5;
          font-weight: 400;
          margin-top: 0;
          margin-bottom: 30px;
        }
      }
    }

    .post-share-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      column-gap: 20px;
      li {
        letter-spacing: normal;
        margin-bottom: 0;
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
