{% set moduleName = 'u4m-case-study-indiviual' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}


{% set table = module.select_hubdb_table %}

{% set query = "" %}
{% if module.select_card_type == 'rec_cards' %}
{% set batch_num = module.card_count %}
{% set query = 'orderBy=-hs_created_at&limit='~ batch_num  %}
{% else %}
{% set query = 'orderBy=-hs_created_at&limit='  %}
{% endif %}
<div class="page-center">
  <div class="case_large_list flex_row">
    {% for row in hubdb_table_rows(table, query) %}
    {% if module.select_card_type == 'rec_cards' %}
    <div class="case_large_card cycle {% cycle "odd","even" %}">
      <div class="case_large_bg" style="background-image: url({{row.featured_image.url}})">
      </div>
      <div class="case_large_content">
        <div class="inner_content_box">
          <div class="inner_content">
            {% if row.link  %}
            <div class="bottomBtn">
              <a href="{{row.link}}" class="secondary cmbtn">
                <span>Case Study </span>
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 0.5L10 5.5L5 10.5" stroke="#E2DDD2"/>
                  <path d="M10 5.5L0 5.5" stroke="#E2DDD2"/>
                </svg>
              </a>
            </div>
            {% endif %}
            <div class="case_card_intro">


              {% if row.name %}
              <div class="card_title">
                <h4>
                  {{row.name}}
                </h4>
              </div>
              {% endif %}
              {% if row.description%}
              <div class="card_desc">
                <p>
                  {{row.description}}
                </p>
              </div>
              {% endif %}
            </div>

            <div class="case_card_meta">
              {% if row.price %}<span class="price">{{row.price}}</span>{% endif %}
              {% if row.subtitle %}<span class="subtitle">{{row.subtitle}}</span>{% endif %}
            </div>
          </div>
        </div>
      </div>

      {#       {% if row.link  %}
      <div class="bottom_btm">
        <div class="bottom_btn_inner">
          <a href="{{row.link}}" class="quaternary cmbtn">
            <span>Case Study </span>
            <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5 0.5L10 5.5L5 10.5" stroke="#E2DDD2"/>
              <path d="M10 5.5L0 5.5" stroke="#E2DDD2"/>
            </svg>
          </a>
        </div>
      </div>
      {% endif %} #}
    </div>
    {% else %}
    {% for item in module.add_items %}
    {% if item.title == row.name %}
    <div class="case_large_card cycle {% cycle "odd","even" %}">
      <div class="case_large_bg" style="background-image: url({{row.featured_image.url}})">
      </div>
      <div class="case_large_content">
        <div class="inner_content_box">
          <div class="inner_content">
            {% if row.link  %}
            <div class="bottomBtn">
              <a href="{{row.link}}" class="secondary cmbtn">
                <span>Case Study </span>
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M5 0.5L10 5.5L5 10.5" stroke="#E2DDD2"/>
                  <path d="M10 5.5L0 5.5" stroke="#E2DDD2"/>
                </svg>
              </a>
            </div>
            {% endif %}
            <div class="case_card_intro">
              {% if row.name %}
              <div class="card_title">
                <h4>
                  {{row.name}}
                </h4>
              </div>
              {% endif %}
              {% if row.description%}
              <div class="card_desc">
                <p>
                  {{row.description}}
                </p>
              </div>
              {% endif %}
            </div>

            <div class="case_card_meta">
              {% if row.price %}<span class="price">{{row.price}}</span>{% endif %}
              {% if row.subtitle %}<span class="subtitle">{{row.subtitle}}</span>{% endif %}
            </div>
          </div>
        </div>
      </div>


    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}
  </div>
</div>



</section>



<!-- Select HubDB Table -->
