{% set moduleName = 'u4m-quote-cards' %}
{% set thumbMax = 100 %}
{% set bgImageMax = 1920 %}
 

{% include "../partials/u4-module-includes.html" %}

  {% if module.include_heading %}<h2 class="heading">{{ module.quote_card_heading }}</h2>{% endif %}

  <div class="dialog-bubbles">    
    {# Use Specific Quotes #}
    {% if module.override_default_quotes %}
        {% for quote in module.quote_row %}
          <div class="item">
            <p><span>“</span> {{ quote.columns.quote }} <span>”</span></p>
            <p><strong>{{ quote.columns.name }}</strong> | {{ quote.columns.company }}</p>
            {% if quote.columns.thumbnail.url %}
              <div class="thumbnail lazy" data-bg="{{ resize_image_url(quote.columns.thumbnail.url, 0,0,thumbMax) }}"></div>
            {% endif %}
          </div>
        {% endfor %}
    {% else %}
    {# Use Default Quotes #}
    {% set table = hubdb_table_rows( module.quote_table ) %}  
      {% for row in table %}
        {% if row.show_by_default %}
        <div class="item">
          <p class="quote"><span>“</span> {{ row.quote }} <span>”</span></p>
          <p class="author"><strong>{{ row.name }}</strong> | {{ row.company }}</p>
          {% if row.thumbnail.url %}
              <div class="thumbnail lazy" data-bg="{{ resize_image_url(row.thumbnail.url, 0,0,thumbMax) }}"></div>
          {% endif %}
        </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </div>

  <div class="centered-button">
    {% if module.link_type == "cta" %}
    <span class="cta">{% cta guid="{{ module.call_to_action }}" %}</span>
    {% elif module.link_type == "url" %}
    <span class="url"><a href="{{ module.link.href }}" {% if module.open_in_new_window %}target="_blank"{% endif %}>{{ module.link_text }}</a></span>
    {% else %}
    <!-- No link -->
    {% endif %} 
  </div> 

</section>