

{% set moduleName = 'u4m-res-cards' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}


{% set table = module.resources.resource_table %}
{% set count = module.resources.count %}
{% set recent_query = 'orderBy=hs_created_at&limit=' ~ count %}
{% set category = module.resources.category_name %}
{% set category_query = 'orderBy=-hs_created_at&category__in=' ~ category ~ '&limit=' ~ count %}



{% if module.resources.resource_type == "recent" %}
{% set data = hubdb_table_rows(table,recent_query) %}
{% elif module.resources.resource_type == "category" %}
{% set data = hubdb_table_rows(table,category_query) %}
{% endif %}


<div class="page-center">
  {% if module.intro_content.include_view_all_link || module.intro_content.include_heading %}
  <div class="intro_content col">
    {% if module.intro_content.include_heading %}
    <div class="top_heading">
      <p>{{ module.intro_content.heading }}</p>
    </div>
    {% endif %}
    {% if module.intro_content.include_view_all_link %}
    <div class="view_all_link">
      {% set href = module.intro_content.view_all_link.url.href %}
      {% if module.intro_content.view_all_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
      {% endif %}
      <a
         {% if module.intro_content.view_all_link.url.type is equalto "CALL_TO_ACTION"  %}
         href="{{ href }}"
         {% else %}
         href="{{ href }}"
         {% endif %}
         {% if module.intro_content.view_all_link.open_in_new_tab %}
         target="_blank"
         {% endif %}
         {% if module.intro_content.view_all_link.rel %}
         rel="{{ module.intro_content.view_all_link.rel }}"
         {% endif %}
         >{{ module.intro_content.view_all_link_text }}</a>
    </div>
    {% endif %}
  </div>
  {% endif %}
  {% if module.resources.resource_type == "recent" ||  module.resources.resource_type == "category" %} 
  <div class="flex_row">
    <div class="card_item col3 empty_div col {% if module.module_overrides.reverse_text %}{% if module.module_overrides.use_card_content_theme_color %}themeColor{% endif %}{% endif %}">
      <div class="card_inner {% if module.module_overrides.enable_overrides %}{{ module.module_overrides.card_background_color }}{% endif %}">
      </div>
    </div>
    <div class="col9 flex_row {% if module.module_overrides.enable_overrides %}{{ module.module_overrides.select_column_alignment }}{% endif %}">
      {% for item in data %}
      <div class="card_item  
                  {% if not  module.resources.settings.include_featured_image %} no_img_card {% endif %}
                  {% if not (module.resources.settings.include_tag) %} largefont {% endif %}
                  col4 col {% if module.module_overrides.reverse_text %}{% if module.module_overrides.use_card_content_theme_color %}themeColor{% endif %}{% endif %}">
        <div class="card_inner {% if module.module_overrides.enable_overrides %}{{ module.module_overrides.card_background_color }}{% endif %}">
          {% if module.resources.settings.include_featured_image %}
          {% if item.featured_image.url %}
          <div class="card_img">
            <div class="card_img_inner" style="background-image:url({{ item.featured_image.url }});">
            
            </div>
          </div>
          {% endif %}
          {% endif %}
          <div class="card_cont_btm">
            {% if module.resources.settings.include_tag %}
            <div class="card_meta">
              {% if module.resources.settings.include_tag %}
              <div class="card_tag">
                {{ item.category.name|capitalize }}
              </div>
              {% endif %}
             
            </div>     
            {% endif %}
            <h5 class="card_title">
              {{ item.name }}
            </h5>
            {% if module.resources.settings.include_description %}
            <div class="card_content"> 
              {{ item.description|striptags|truncatehtml(150, '...')}}
            </div>
            {% endif %} 
          </div>
          <div class="arrow_link"> 
            <a href="{{ item.link }}" >
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M5.5 1L10.5 6L5.5 11" stroke="#574D4A"/>
                <path d="M10.5 6L0.5 6" stroke="#574D4A"/>
              </svg>
            </a>
          </div> 
          <a href="{{ item.link }}" class="absLink" ></a>
        </div>
      </div>
      {% endfor %} 

    </div>
  </div>
  {% endif %}
  {% if module.resources.resource_type == "custom" %}
  {% set data = module.resources.resources_by_title %}
  <div class="flex_row resources_by_title_row">
    <div class="card_item col3 empty_div col {% if module.module_overrides.reverse_text %}{% if module.module_overrides.use_card_content_theme_color %}themeColor{% endif %}{% endif %}">
      <div class="card_inner {% if module.module_overrides.enable_overrides %}{{ module.module_overrides.card_background_color }}{% endif %}">
      </div>
    </div>
    <div class="col9 flex_row {% if module.module_overrides.enable_overrides %}{{ module.module_overrides.select_column_alignment }}{% endif %}">
      {% for item in data %}  
      {% if item.select_resource.columns.name %} 
      <div class="card_item  
                  {% if not  module.resources.settings.include_featured_image %} no_img_card {% endif %}
                  {% if not (module.resources.settings.include_tag) %} largefont {% endif %}
                  col4 col {% if module.module_overrides.reverse_text %}{% if module.module_overrides.use_card_content_theme_color %}themeColor{% endif %}{% endif %}">

        <div class="card_inner {% if module.module_overrides.enable_overrides %}{{ module.module_overrides.card_background_color }}{% endif %}">
          {% if module.resources.settings.include_featured_image %}
          {% if item.select_resource.columns.featured_image.url %}
          <div class="card_img">
            <div class="card_img_inner" style="background-image:url({{ item.select_resource.columns.featured_image.url }});">
           
            </div>
          </div>
          {% endif %}
          {% endif %}
          <div class="card_cont_btm">
            {% if module.resources.settings.include_tag %}
            <div class="card_meta">
              {% if module.resources.settings.include_tag %}
              <div class="card_tag">
                {{ item.select_resource.columns.category.name|capitalize }}
              </div>
              {% endif %}
            </div>     
            {% endif %}
            <h5 class="card_title">
              {{ item.select_resource.columns.name }}
            </h5>
            {% if module.resources.settings.include_description %}
            <div class="card_content"> 
              {{ item.select_resource.columns.description|striptags|truncatehtml(150, '...')}}
            </div>
            {% endif %} 
          </div>
          <div class="arrow_link"> 
            <a href="{{ item.select_resource.columns.link }}" >
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" fill="none">
                <path d="M5.5 1L10.5 6L5.5 11" stroke="#574D4A"/>
                <path d="M10.5 6L0.5 6" stroke="#574D4A"/>
              </svg>
            </a>
          </div> 
          <a href="{{ item.select_resource.columns.link }}" class="absLink" ></a>
        </div>

      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  {% endif %}
</div>
</section>






