@import "../../css/_module-imports";

.u4m-hero {
  padding-top: 99px;
  padding-bottom: 99px;
  position: relative;
  overflow: hidden;

  &.withoutBg {
    @include phone {
      padding-top: 60px;
      padding-bottom: 50px;
    }
  }

  &.reverse-text {
    min-height: 754px;

    &.withoutBg {
      min-height: auto;
    }
  }

  .hero-without-img {
    .right-content {
      position: relative;

      .hero-overlay-image {
        img {
          bottom: -20px;
          right: 0;
          max-width: none;
          width: 730px;
        }
      }
    }
  }

  .hero-content {
    h4 {
      font-weight: 400;
      line-height: 1.2;
      margin-bottom: 30px;
      @include size28;
    }

    p {
      font-weight: 400;
      line-height: 1.6;
      margin-top: 0;
      margin-bottom: 30px;
      @include size18;
    }
  }

  .hero-image {
    img {
      max-width: 525px;
      width: 100%;
      border-radius: $borderRadius;
    }
  }

  .flexcenter.flex_row {
    gap: 30px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    .col7 {
      width: 100% !important;
      max-width: 100% !important;
    }
  }

  .left-content {
    &.concenter {
      text-align: center;
      width: 100% !important;
      max-width: 900px !important;
      margin: 0 auto;
    }

    &.conright {
      text-align: right;
    }

    &.conleft.col12 {
      p {
        max-width: 687px;
      }
    }
    .btn_row {
      a {
        margin: 0;
      }
    }
  }

  .right-content {
    text-align: center;

    .right-content-inner {
      position: relative;

      .hero-overlay-image {
        img {
          bottom: 40px;
          left: auto;
          max-width: 100%;
          right: -20px;
          width: 100%;

          @include tabletvert {
            right: -10px;
            bottom: 20px;
            width: 500px;
          }
        }
      }
    }

    .hero-overlay-image {
      img {
        position: absolute;
        bottom: 19.75%;
        right: 17.2%;
        max-width: 38.1vw;
        width: 100%;

        @include tabletvert {
          max-width: 100%;
          left: 0;
          bottom: 10%;
        }
      }
    }
  }

  .hero-inner-content {
    border-radius: 12px;
    padding: 83px 118px;

    h4 {
      margin-bottom: 18px;
    }

    h1,
    p {
      margin-bottom: 29px;
    }

    @include tabletmid {
      padding: 50px;
    }

    @include tabletvert {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include tabletmid {
    .hero-inner-container {
      &.hero-without-img {
        .col5 {
          width: 50%;
        }

        .col7 {
          width: 50%;
        }
      }

      .col5 {
        width: 50%;
      }

      .col7 {
        width: 50%;
      }
    }
  }

  @include tabletmidmin {
    .hero-inner-container.flex_row {
      justify-content: space-between;
      margin-left: -10px;
      margin-right: -10px;

      .col5 {
        width: 50%;
        max-width: 579px;
      }

      .col7 {
        width: 50%;
        max-width: 758px;
      }
    }
  }

  @include tabletvert {
    .hero-inner-container {
      row-gap: 20px;

      .col5,
      .col7 {
        width: 100%;
      }

      &.hero-without-img {
        .col5 {
          width: 100%;
        }

        .col7 {
          width: 100%;
        }
      }
    }
  }
}
