

{% set moduleName = 'u4m-hero' %}
{% if not module.right_content.image_field.src and not module.right_content.overlay_image.src  %}
{% set extraClass ="withoutBg " %}
{% endif %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

<div class="page-center">
  <div class="hero-inner-container  flex{{ module.content_alignment }} {% if not module.right_content.image_field.src %} hero-without-img {% endif %} {% if module.module_overrides.enable_container_inner_background_color %} hero-inner-content {{ module.module_overrides.container_inner_background_settings.select_background_color_type }} {% endif %}  flex_row">
    <div class=" con{{ module.content_alignment }} {% if not module.right_content.image_field.src && not module.right_content.enable_svg_animation %} {% if module.right_content.overlay_image.src %}col7{% else %}col12{% endif%} {% else %}col5 {% endif %} col left-content">
      {% if module.left_content.content %}
      <div class="hero-content">
        {{ module.left_content.content }}
      </div>
      {% endif %}
      {% if module.left_content.include_button %} 
      <div class="btn_row">
        {{macros.buttonGroupItems(module.left_content.buttons)}}
      </div>
      {% endif %}
    </div>
    {% if module.right_content.image_field.src || module.right_content.overlay_image.src || module.right_content.enable_svg_animation %}
    <div class="{% if not module.right_content.image_field.src %}{% if module.right_content.overlay_image.src %}col5{% else %}col12{% endif%} {% else %}col7 {% endif %} col right-content {% if module.right_content.enable_svg_animation %}col7{% endif %}">
      {% if module.right_content.image_field.src || module.right_content.enable_svg_animation %}
      <div class="right-content-inner">
        {% endif %}
        {% if module.right_content.enable_svg_animation %}

        {% if module.right_content.select_animated_svg_file %}



        <div class="animated_svg_wrap img_wrap {% if module.right_content.animated_svg_background.background_type == "image" %}img_bg{% endif %} {% if module.right_content.animated_svg_background.background_type == "color" %}{{ module.right_content.animated_svg_background.select_background_color == "custom" ? "custom_color" : module.right_content.animated_svg_background.select_background_color }}{% endif %}">
          <iframe src="{{ module.right_content.animated_svg_file }}" height="500" width="500"></iframe>
        </div>

        {% else %}

        <div class="svgAnimationWrap {% if module.right_content.animated_svg_background.background_type == "image" %}img_bg{% endif %} {% if module.right_content.animated_svg_background.background_type == "color" %}{{ module.right_content.animated_svg_background.select_background_color == "custom" ? "custom_color" : module.right_content.animated_svg_background.select_background_color }}{% endif %}">
          {{ module.right_content.animated_svg }}
        </div>
        {% endif %}

        {% else %}


        {% if module.right_content.image_field.src %}
        <div class="hero-image">
          {% set loadingAttr = module.right_content.image_field.loading != 'disabled' ? 'loading="{{ module.right_content.image_field.loading|escape_attr }}"' : '' %}
          <img src="{{ module.right_content.image_field.src|escape_url }}" alt="{{ module.right_content.image_field.alt|escape_attr }}" {{ loadingAttr }}>
        </div>
        {% endif %}
        {% if module.right_content.overlay_image.src %}
        <div class="hero-overlay-image">
          {% set loadingAttr = module.right_content.overlay_image.loading != 'disabled' ? 'loading="{{ module.right_content.overlay_image.loading|escape_attr }}"' : '' %}
          <img src="{{ module.right_content.overlay_image.src|escape_url }}" alt="{{ module.right_content.overlay_image.alt|escape_attr }}" {{ loadingAttr }}>
        </div>
        {% endif %}
        {% endif %}
        {% if module.right_content.image_field.src || module.right_content.enable_svg_animation %}
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>

</section>



{% require_css %}
{% if module.module_overrides.enable_container_inner_background_color %}
<style>
  .{{name}} .hero-inner-content{
    {% if module.module_overrides.container_inner_background_settings.select_background_color_type == "custom" %}
    background-color:rgba({{ module.module_overrides.container_inner_background_settings.background_color.color|convert_rgb }},{{ module.module_overrides.container_inner_background_settings.background_color.opacity*0.01 }});
    {% endif %}
  }
</style>
{% endif %}
{% end_require_css %}







{% if module.right_content.enable_svg_animation %}
{% require_css %}
<style>

  .{{name}} .animated_svg_wrap iframe {
    border: none;
    display: table;
    margin: 0 auto;
  }

  .{{name}} .animated_svg_wrap {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
    overflow: hidden;
    display: flex ;
    align-items: center;
    justify-content: center;
    max-width: 580px;
    margin: 0 auto;
    padding: 20px;
  }


  .{{name}} .svgAnimationWrap{
    overflow: hidden;
    display: flex ;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 12px;
  }


  {% if module.right_content.animated_svg_background.select_background_color == "custom" %}
  .{{name}} .svgAnimationWrap,
  .{{name}} .animated_svg_wrap {
    background-color : {{ module.right_content.animated_svg_background.custom_color.rgba }}
  } 
  {% endif %}
  {% if module.right_content.animated_svg_background.background_type == "image" %}
  .{{name}} .svgAnimationWrap,
  .{{name}}   .animated_svg_wrap {
    background-image : url({{ module.right_content.animated_svg_background.background_image.src }})
  } 
  {% endif %}

</style>
{% end_require_css %}
{% endif %}

