{% set moduleName = 'u4m-hero' %}
	{% set imageMax = 1000 %}
	{% set bgImageMax = 1920 %}
	
	{% include "../partials/u4-module-includes.html" %}
	
	<div class="page-center">
		<div class="hero-inner-container  {% if not module.right_content.image_field.src %} hero-without-img {% endif %} {% if module.module_overrides.enable_container_inner_background_color %} hero-inner-content {{ module.module_overrides.container_inner_background_settings.select_background_color_type }} {% endif %}  flex_row">
			<div class="{% if not module.right_content.image_field.src and not module.right_content.overlay_image.src  %}col12 {% elif not module.right_content.image_field.src %} col7 {% else %}col5 {% endif %} col left-content">
				{% if module.left_content.content %}
				<div class="hero-content">
					{{ module.left_content.content }}
				</div>
				{% endif %}
				{% if module.left_content.include_button %} 
				<div class="btn_row">
					{% for item in module.left_content.buttons %}
					{% if item.button_type == 'stnd' %} 
					{% set href = item.button_link.url.href %}
					{% if item.button_link.url.type is equalto "EMAIL_ADDRESS" %}
					{% set href = "mailto:" + href %}
					{% endif %}
					<a class="{{ item.theme }} hs-button"
						 {% if item.button_link.url.type is equalto "CALL_TO_ACTION"  %}
						 href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
						 {% else %}
						 href="{{ href|escape_url }}"
						 {% endif %}
						 {% if item.button_link.open_in_new_tab %}
						 target="_blank"
						 {% endif %}
						 {% if item.button_link.rel %}
						 rel="{{ item.button_link.rel|escape_attr }}"
						 {% endif %}
						 >
						{{ item.button_text }}
					</a>
					{% else %}
					{% cta guid="{{ item.cta_field }}" %}
					{% endif %}
					{% endfor %}
	
				</div>
				{% endif %}
			</div>
			{% if module.right_content.image_field.src or module.right_content.overlay_image.src %}
			<div class="{% if not module.right_content.image_field.src %}col5 {% else %}col7 {% endif %} col right-content">
			{% if module.right_content.image_field.src %}
			<div class="right-content-inner">
			{% endif %}
				{% if module.right_content.image_field.src %}
				<div class="hero-image">
					{% set loadingAttr = module.right_content.image_field.loading != 'disabled' ? 'loading="{{ module.right_content.image_field.loading|escape_attr }}"' : '' %}
					<img src="{{ module.right_content.image_field.src|escape_url }}" alt="{{ module.right_content.image_field.alt|escape_attr }}" {{ loadingAttr }}>
				</div>
				{% endif %}
				{% if module.right_content.overlay_image.src %}
				<div class="hero-overlay-image">
					{% set loadingAttr = module.right_content.overlay_image.loading != 'disabled' ? 'loading="{{ module.right_content.overlay_image.loading|escape_attr }}"' : '' %}
					<img src="{{ module.right_content.overlay_image.src|escape_url }}" alt="{{ module.right_content.overlay_image.alt|escape_attr }}" {{ loadingAttr }}>
				</div>
					{% endif %}
					{% if module.right_content.image_field.src %}
						</div>
						{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
	
	</section>
	
	
	
	
	
	{% require_css %}
		{% if module.module_overrides.enable_container_inner_background_color %}
		<style>
			.{{name}} .hero-inner-content{
				{% if module.module_overrides.container_inner_background_settings.select_background_color_type == "custom" %}
				background-color:rgba({{ module.module_overrides.container_inner_background_settings.background_color.color|convert_rgb }},{{ module.module_overrides.container_inner_background_settings.background_color.opacity*0.01 }});
				{% endif %}
			}
		</style>
		{% endif %}
		{% end_require_css %}
		