@import "../../css/_module-imports";
section.u4m-hero {
  margin-bottom: 100rem;
  background-size: cover;
  background-position: 50% 50%;
  padding: 100px 0;
  &.reverse-text {
    .content-wrap {
      color: $white;
    }
  }
  .inner {
    .content-wrap {
      @include center;
      padding: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      .image {
        flex: 0 0 0;
        body.hs-landing-page & {
          flex: 0 0 0;
        }
      }
      .copy {
        flex: 0 0 80%;
        text-align: center;
        padding: 55rem 0 30rem 0;
        padding-left: 100px;
        body.hs-landing-page & {
          flex: 0 0 100%;
        }
        .eyebrow {
          @include eyebrow;
        }
        .heading {
          @include h1;
          &.small {
            @include h2;
            @include tablet {
              @include h3;
            }
          }
          @include tablet {
            @include h2;
          }
        }
        .subtext {
          @include b2;
        }
        a {
          @include button;
        }
        .cta {}
        svg {
          max-width: 100rem;
          cursor: pointer;
          circle {
            transition: $animation1;
          }
          &:hover {
            circle {
              fill: $gray3;
            }
          }
        }
        @include tabletvert {
          padding-right: 0;
          padding-left: 0;
          padding: 20rem 0 0 0;
        }
      }
      &.has-image {
        .image {
          flex: 0 0 40%;
          body.hs-landing-page & {
            flex: 0 0 40%;
          }
          @include phone {
            padding: 0;
          }
        }
        .copy {
          flex: 0 0 60%;
          text-align: left;
          body.hs-landing-page & {
            flex: 0 0 60%;
          }
          @include tabletvert {
            padding-right: 0;
            padding-left: 0;
            padding: 20rem 0 0 0;
          }
        }
      }
      &.has-video {
        .video {
          flex: 0 0 40%;
          body.hs-landing-page & {
            flex: 0 0 40%;
          }
          @include tabletvert {
            padding: 0;
            width: 100%;
          }
        }
        .copy {
          flex: 0 0 60%;
          text-align: left;
          body.hs-landing-page & {
            flex: 0 0 60%;
          }
          @include tabletvert {
            padding-right: 0;
            padding-left: 0;
            padding: 20rem 0 0 0;
          }
        }
      }
      &.text-left {
        flex-direction: row-reverse;
        .copy {
          flex: 0 0 60%;
          text-align: left;
          margin-right: auto;
          padding-right: 100px;
          padding-left: 0;
          @include tabletvert {
            padding-right: 0;
            padding-left: 0;
            padding: 20rem 0 0 0;
          }
        }
        @include tabletvert {
          flex-direction: column;
        }
      }
      &.has-none {
        .copy {
          padding-left: 0;
        }
      }
      @include tabletvert {
        flex-direction: column;
      }
    }
  }
}