@import "../../css/_module-imports";

section.u4m-landing-page-split {
  margin-top: -1rem;
  display: flex;
  min-height: 100vh;

  @include tablet {
    flex-wrap: wrap;
  }

  .left-column {
    flex: 0 1 600rem;
    padding-right: 50rem;
    margin-right: auto;

    @include tablet {
      flex: 0 0 100%;
      margin-top: 0rem;
      margin-bottom: 20rem;
    }

    flex: 0 0 50%;
    display: flex;
    margin: 50rem 0;
    align-items: center;
    justify-content: center;
    padding-right: 0;

    .inner {
      align-items: center;
      justify-content: center;
      flex: 0 1 800rem;
      padding: 20rem 50rem;

      a.logo {
        margin-bottom: 50rem;
      }

      @include tablet {
        padding: 20rem;
      }

      h1 {
        @include h3;
      }

      h2 {
        @include h5;
      }

      .offer-image {
        text-align: center;

        img {
          margin-bottom: 20rem;
          max-width: 300rem;

          @include tablet {
            max-height: 200rem;
          }
        }
      }

      .quote {
        text-align: center;

        .author-image {
          max-width: 150rem;
          margin: 0 auto 20rem;

          img {
            border-radius: 50%;
          }
        }

        .quotation-mark {
          color: $action1;
          @include b1;
        }

        .quote-text {
          @include b2;
        }

        .quote-author {
          @include b1;

          span.author-name {
            font-weight: bold;
          }
        }
      }
    }
  }

  .right-column {
    flex: 0 0 500rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 50%;
    background: $gray3;
    background-size: cover;
    background-position: 50% 50%;

    @include tablet {
      flex: 0 0 100%;
    }

    div.overlay {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      .inner {
        flex: 0 1 700rem;
        align-items: center;
        justify-content: center;
        padding: 20rem 50rem;

        @include tablet {
          flex-basis: calc(100% - 100rem);
          flex-grow: 0;
          flex-shrink: 0;
        }

        @include phone {
          flex-basis: calc(100% - 40rem);
          flex-grow: 0;
          flex-shrink: 0;
          padding: 20rem;
        }

        .custom-share {
          @include tablet {
            display: none;
          }

          div {
            text-align: right;

            span.label {
              color: $white;
              position: relative;
              top: -5rem;
            }

            a {
              color: $white;
              font-size: 24rem;
              line-height: 1;
              margin-left: 5rem;

              svg {
                fill: $white;
              }

              &:hover {
                color: $action1;

                svg {
                  fill: $action1;
                }
              }
            }
          }
        }

        .form-wrap {
          @include form;
          margin-top: 10rem;
          background: transparent;
          padding-left: 0;
          padding-right: 0;

          h2.heading {
            @include h6;
            color: $white;
          }

          form {
            margin-bottom: 0;

            label {
              color: $white;
            }
          }

          div.submitted-message {
            color: $white;
          }
        }
      }
    }
  }
}
