{% set moduleName = 'u4m-cards' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}


<div class="page-center">
	{% if module.include_intro %} 
	<div class='intro'>
		<div class='intro_cnt'>
			{{ module.intro_content }}
		</div>
	</div>
	{% endif %}


	<div class="flex_row">

		{% for item in module.cards_group %}
		<div class="card_item">
			<h3>
				{{ item.title }}
			</h3>
			<p>
				{{ item.content }}
			</p>
		</div>
		{% endfor %}
	</div>

</div>



</section>

