@import "../../css/_module-imports";

section.u4m-cards {
  .intro {
    margin-bottom: 64rem;

    .intro_cnt,
    &.center .intro_cnt {
      text-align: center;
    }

    &.left .intro_cnt {
      text-align: left;
    }

    &.right .intro_cnt {
      text-align: right;
    }
  }

  .card_inner {
    @include cardBase;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include tabletvertmin {
      aspect-ratio: 1 / 1;
    }

    .absLink {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;
    }

    .icon_box {
      text-align: left;
      margin-bottom: 20rem;
      font-size: 35rem;
      height: 35rem;

      span {
        display: block;
      }

      img {
        display: block;
        width: 1em;
      }

      svg {
        display: block;
        width: 1em;
        height: 1em;
        fill: currentColor;
      }

      .material-symbols-outlined {
        font-size: 1em;
      }
    }

    .card_title {
      margin-bottom: 15rem;
    }

    .card_content {
      @include size14;
      line-height: 150%;
      margin-bottom: 20px;

      p {
        font: inherit;
        letter-spacing: 0.55rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .card_item {
    display: flex;
    flex-wrap: wrap;


    @include tabletvert {
      width: 100%;
    }

    .arrow_link {
      text-align: right;
      margin-top: auto;

      svg {
        display: block;
        width: 15px;
      }

      a {
        display: inline-flex;
        margin-left: auto;
        min-height: 20px;
        align-items: center;
        justify-content: center;
        gap: 5px;
      }
    }
  }

  .flex_row {
    row-gap: 20px;
    justify-content: flex-end;

    @include tabletvertmin {
      margin: 0 -10px;
    }

    &.left {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
    }

    //when set to 4 columns
    &.card-col-width_col3 {

      //and there are only 3 cards
      &.card-count_3 {
        .col3 {
          width: 25%;

          //allow cards to be 33% on tablet
          @include tabletmid {
            width: 33.33333%;
          }

          @include tabletvert {
            width: 100%;
          }
        }
      }
    }
  }

  .card_item {
    &.revese_color * {
      color: $white;
    }

    &.theme_color * {
      color: $basecolor;
    }
  }
}