@import "../../css/_module-imports";

.u4m-rich-text {
  p {
    @include size18;
    font-weight: 400;
    line-height: 1.6;
  }

  h4 {
    font-weight: 700;
    line-height: 1.2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 20px;
  }
}
