footer.cmftr.u4m-footer {
  padding: 105px 0 82px 0;

  &.lp-ftr {
    padding: 60px 0 60px;

    .container {
      .btm_cnt {
        margin: 0;
      }
    }
  }

  .container {
    @include center;
    margin: 0 auto;
    padding: 0 20px;
    a[href="javascript:;"] {
      cursor: text !important;
    }
    .btm_cnt {
      display: flex;
      justify-content: space-between;
      align-items: end;
      gap: 10px;
      flex-wrap: wrap;

      .lft_cnt {
        .social_share {
          margin-bottom: 13px;

          .inner_items {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .items {
              // width: 21px;
              // height: 24px;
              a {
                height: 48px;
                width: 48px;
                padding: 13px;
                border-radius: 100%;
                background-color: transparent;
                &:hover {
                  background-color: $greybg;
                }
              }
            }
          }
        }

        .copyright {
          font-size: $baseFontSize2;
          font-weight: 400;
          color: $gray6;

          a {
            color: $gray6;
          }
        }
      }

      .rht_cnt {
        .btm_menu {
          .hs-menu-wrapper {
            > ul {
              font-size: $baseFontSize2;
              gap: 12px;
              display: flex;
              list-style: none;
              padding: 0;
              margin: 0;
              line-height: inherit;
              > li {
                margin: 0;
                float: unset;

                > a {
                  padding: 0;
                  font-size: $baseFontSize2;
                  font-weight: 400;
                  cursor: pointer;
                  color: $gray5;
                  display: block;
                }
              }

              &:before {
                display: none;
              }

              &:after {
                display: none;
              }
            }
          }
        }
      }

      @include navbreakMinMax {
        margin-top: 30px;
      }

      @include tabletvert {
        margin-top: 28px;
      }
    }

    .top_cnt {
      display: flex;
      justify-content: space-between;
      column-gap: 137px;

      .cmrht_cnt {
        width: calc(100% - 266px);

        .middle_cnt {
          max-width: calc(100% - 420px);
          width: 100%;
          padding-right: 20px;

          @include navbreakMinMax {
            width: 100%;
            max-width: 100%;
          }

          @include navbreakMinMax {
            padding: 0;
          }
        }

        .right_cnt {
          max-width: 420px;
          width: 100%;
          padding-left: 20px;

          .menu_wrpp {
            .hs-menu-wrapper {
              > ul {
                display: flex;
                flex-wrap: wrap;
                column-gap: 40px;
                row-gap: 40px;

                > li {
                  width: calc(55% - 40px);

                  @include navbreakMinMax {
                    width: calc(50% - 40px);
                  }

                  @include tabletvert {
                    width: calc(50% - 20px);
                  }
                }

                @include navbreak {
                  > li {
                    > ul {
                      > li {
                        width: 100% !important;
                      }
                    }
                  }
                }

                @include tabletvert {
                  row-gap: 28px;
                }
              }
            }
          }

          @include navbreakMinMax {
            width: 100%;
            max-width: 100%;
          }

          @include navbreakMinMax {
            padding: 0;
          }
        }

        .flx {
          display: flex;
          flex-wrap: wrap;

          .menu_wrpp {
            .hs-menu-wrapper {
              ul {
                position: unset;

                ul {
                  ul {
                    li {
                      margin-bottom: 9px;

                      a {
                        font-size: $baseFontSize2;
                        font-weight: 400;
                        line-height: 1.5;
                        color: $gray5;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px;
                        &:hover {
                          text-decoration: underline;
                        }

                        span {
                          width: auto;
                          margin-left: 3px;
                          display: inline-block;
                          border-radius: 3px;
                          background: $yellowColor;
                          padding: 1px 8px;
                          color: $basecolor;
                        }
                      }
                    }

                    ul {
                      li {
                        a {
                          text-align: center;

                          @include tabletvert {
                            text-align: left;
                          }
                        }
                      }

                      max-width: 100px;
                      margin-top: 9px;

                      @include tabletvert {
                        max-width: 100%;
                        margin-top: 9px;
                      }
                    }
                  }
                }
              }

              > ul {
                width: 100%;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                  a {
                    padding: 0;
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    white-space: unset;
                    cursor: pointer;

                    :empty {
                      margin: 0 !important;
                    }
                  }
                }

                > li {
                  margin: 0;
                  float: unset;

                  > a {
                    font-size: $baseFontSize2;
                    font-weight: 400;
                    line-height: $baseLineHeight2;
                    display: block;
                    width: 100%;
                    margin-bottom: 21px;
                    color: $basecolor;

                    &:not([href="javascript:;"]) {
                      display: inline-block;
                      width: auto;
                      padding: 5px 10px;
                      margin-bottom: 6px;
                      padding-right: 30px;
                      border-radius: 4px;
                      position: relative;
                      cursor: pointer;
                      &:after {
                        content: "";
                        background-image: url("{{ get_asset_url('./../templates/images/ftrarrow.png') }}");
                        width: 10px;
                        height: 10px;
                        background-size: contain;
                        display: block;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 13px;
                        top: 50%;
                        transform: translateY(-50%);
                        opacity: 0;
                        visibility: hidden;
                      }
                      &:hover {
                        background-color: $greybg;
                        &:after {
                          opacity: 1;
                          visibility: visible;
                        }
                      }
                    }

                    :empty {
                      margin: 0 !important;
                    }
                  }

                  > ul {
                    border-top: 1px solid $gray4;
                    padding-top: 20px;
                    display: flex;
                    gap: 28px;

                    > li {
                      margin: 0;
                      width: 100%;

                      > a {
                        font-size: $baseFontSize3;
                        font-weight: 700;
                        line-height: $baseLineHeight3;
                        margin-bottom: 7px;
                        color: $basecolor;
                      }

                      @include navbreak {
                        width: calc(50% - 14px);
                      }

                      @include navbreakMinMax {
                        width: calc(33.3% - 19px);
                      }

                      @include tabletvert {
                        width: calc(50% - 20px);
                      }
                    }

                    @include navbreak {
                      flex-wrap: wrap;
                    }
                  }
                }

                &:before {
                  display: none;
                }

                &:after {
                  display: none;
                }
              }
            }
          }

          @include navbreakMinMax {
            gap: 50px;
          }

          @include tabletvert {
            gap: 28px;
          }
        }

        @include navbreakMinMax {
          width: 100%;
          max-width: 100%;
        }
      }

      .left_cnt {
        width: auto;
        .logo_wrpp {
          padding-top: 5px;
          @include navbreakMinMax {
            padding-top: 0;
          }
        }
        @include navbreakMinMax {
          width: 100%;
          max-width: 100%;
        }
      }

      @include navbreakMinMax {
        flex-wrap: wrap;
        gap: 40px;
      }
    }
  }

  @include tabletvert {
    padding: 80px 0 50px;
  }
}
