header.u4m-header {
  padding: 13.5px 13px 0px;
  position: absolute;
  transition:
    height 0.3s,
    top 0.5s;
  left: 0;
  width: 100%;
  background-color: $lightGreybg;
  z-index: 100;
  .headerIn {
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 13rem;
    > .flex_row {
      justify-content: space-between;
      gap: 12px;
      .right_sec {
        max-width: 120px;
        width: 100%;
        a {
          margin: 0;
          @include size12;
          line-height: 1.3;
          letter-spacing: 0;
          min-height: 54px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          background-color: $LightPink;
        }
      }
      .left_sec {
        width: calc(100% - 132px);
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $lightGray;
        .headerLogo.sticky {
          display: none;
        }
      }
    }

    .HeaderSticky {
      .hs-menu-wrapper {
        > ul {
          > li {
            > a {
              display: none;
            }
            > ul {
              > li.active-branch {
                display: block;
                float: none;
                display: flex;
                justify-content: space-between;
                max-width: 1288px;
                margin: 0 auto;
              }
              > li {
                display: none;
                > ul {
                  > li {
                    > a {
                      padding: 12px 25px;
                      width: auto !important;
                      text-overflow: unset !important;
                      white-space: normal !important;
                      max-width: 100%;
                      cursor: pointer;
                      @include navbreakMin {
                        padding: 12px 45px;
                      }
                    }
                  }
                  display: flex;
                  gap: 8px;
                  max-width: 70%;
                  width: 100%;
                  @include navbreakMin {
                    max-width: calc(100% - 314px);
                  }
                  > li.active.active-branch {
                    > a {
                      background-color: $sectionbg;
                    }
                  }
                }
                > a {
                  max-width: 30%;
                  width: 100%;
                  font-family: $font1;
                  font-weight: 700;
                  font-size: 18px;
                  line-height: 160%;
                  width: 100% !important;
                  text-overflow: unset !important;
                  white-space: normal !important;
                  padding-left: 3px;
                  @include navbreakMin {
                    max-width: 314px;
                    padding-left: 3px;
                  }
                }
              }
            }
            display: none;
            border-bottom: 1px solid $lightGray;
            margin: 0;
            .hs-menu-children-wrapper {
              position: static !important;
            }
            ul {
              > li {
                > a {
                  color: $basecolor;
                }
              }
            }
          }
          > li.active-branch {
            display: block;
            float: none;
          }
          display: none;
          margin: 0;
          padding-top: 5px;
          li {
            margin: 0;
          }
        }
        > ul.active-branch {
          display: block;
        }
      }
      @include tablet {
        display: none;
      }
    }
  }

  &.stickysec {
    padding-bottom: 0;
  }
}
.lt {
  header.u4m-header {
    .headerLogo {
      img {
        filter: invert(1) brightness(1.4);
      }
    }
    background: $basecolor;
    .megaMenu {
      .hs-megaMenu-wrapper {
        > ul.mobileHide {
          > li {
            a {
              color: $greybg;
            }
            &:last-child {
              > a {
                // color: $sidebarplaceholder;
              }
            }
            &:hover {
              > a {
                color: $basecolor;
                background: $white;
              }
            }
          }
          > li.childOpen {
            > a {
              color: $basecolor;
              background: $white;
            }
          }
        }
      }
    }
    .HeaderSticky {
      .hs-menu-wrapper {
        > ul {
          > li {
            ul {
              > li {
                &:not(.active) {
                  > a {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.megaMenu {
  .hs-megaMenu-wrapper {
    a[href="javascript:;"] {
      cursor: text !important;
    }
    > ul.mobileHide {
      display: flex;
      > li {
        margin: 0;
        min-width: 120px;
        > a {
          padding: 18px 14px;
          width: 100%;
          font-family: $font1;
          font-weight: 700;
          @include size12;
          line-height: 130%;
          color: $basecolor;
          display: flex;
          min-height: 54px;
          justify-content: space-between;
          column-gap: 10px;
          position: relative;
          .childTrigger {
            width: 38px;
            display: flex;
            justify-content: center;
            position: absolute;
            right: 0;
            height: 54px;
            top: 0;
            align-items: center;
            svg {
              width: 10px;
              height: 10px;
            }
          }
        }
        &:last-child {
          > a {
            // color: $tagcolor;
          }
        }
        &:not(:last-child) {
          > a {
            border-right: 1px solid $lightGray;
            border-top: 1px solid $lightGray;
          }
        }
        &:first-child {
          > a {
            border-left: 1px solid $lightGray;
          }
        }
        > .childMenu {
          right: 0;
          position: absolute;
          top: calc(100% + 9.5px);
          background: $white;
          box-shadow: $shadow4;
          border-radius: 12px;
          padding: 10px;
          z-index: 3;
          display: none;
          > .flex_row {
            .menuItemTtl {
              font-family: $font1;
              font-weight: 400;
              @include size12;
              line-height: 130%;
              color: $basecolor;
              padding-bottom: 16px;
              border-bottom: 1px solid $lightGray;
              a {
                color: inherit;
              }
            }
            .childmenuItem {
              .childmenuItemdes {
                font-family: $font1;
                font-weight: 400;
                @include size12;
                line-height: 150%;
                color: $tagcolor;
              }
              .childmenuItemttl {
                font-family: $font1;
                line-height: 150%;
                color: $basecolor;
                @include size12;
              }
              &:not(.addDes) {
                .childmenuItemttl {
                  font-weight: 400;
                }
              }
            }
            .childmenuItem.addDes {
              .childmenuItemttl {
                font-weight: 700;
              }
            }
            .blogCard {
              .blogCardImg {
                height: 160px;
                margin-bottom: 17px;
                border-radius: 8px;
                overflow: hidden;
                .cardImgIn {
                  background-size: cover;
                  height: 100%;
                  width: 100%;
                }
              }
              .blogCardTags {
                font-family: $font1;
                font-style: normal;
                font-weight: 500;
                @include size12;
                line-height: 160%;
                color: $tagcolor;
                margin-bottom: 8px;
                > a {
                  color: inherit;
                }
                > span {
                  line-height: 1;
                  margin-top: 4px;
                }
              }
              .blogCardttl {
                font-family: $font1;
                font-style: normal;
                font-weight: 400;
                @include size12;
                line-height: 150%;
                color: $basecolor;
                > a {
                  color: inherit;
                }
              }
            }
            .blogCard.first {
              .blogCardttl {
                font-family: $font1;
                font-style: normal;
                font-weight: 700;
                @include size12;
                line-height: 150%;
                color: $basecolor;
              }
            }
          }
          .menuItem.card {
            .cardImg {
              .cardImgIn {
                background-size: cover;
                height: 100%;
                width: 100%;
                background-position: center;
              }
              height: 160px;
              border-radius: 8px;
              overflow: hidden;
              margin-bottom: 20px;
            }
            .menuItemTtl {
              margin-bottom: 22px;
            }
            .cardDes {
              p {
                font-family: $font1;
                font-style: normal;
                font-weight: 400;
                @include size12;
                line-height: 150%;
                color: $tagcolor;
              }
            }
          }
          .menuItem.hubdb {
            .blogCardTags {
              display: flex;
              align-items: center;
              gap: 5px;
            }
          }
        }
        > .childMenu.fw {
          > .flex_row {
            margin: 0 -20px;
            .menuItem {
              max-width: 33.33%;
              width: 100%;
              padding: 0 20px;
              gap: 20px;
              display: flex;
              flex-direction: column;
            }
          }
          width: 994px;
          padding: 41px 37px 47px;
          max-width: 100%;
        }
        > .childMenu.tw {
          width: 1027px;
          width: 1027px;
          max-width: 100%;
          .rightMenu {
            max-width: 320px;
            width: 100%;
            background: $yellowColor;
            border-radius: 12px;
            padding: 32px 20px;
            .menuItem {
              display: flex;
              flex-direction: column;
              row-gap: 20px;
            }
          }
          .leftMenu {
            max-width: calc(100% - 320px);
            width: 100%;
            padding: 30px 30px 35px;
            .bottomPane {
              padding-top: 16px;
              border-top: 1px solid $lightGray;
              column-gap: 20px;
              justify-content: space-between;
            }
            .topMenu {
              margin: 0 -20px;
              padding-bottom: 33px;
              .menuItem {
                width: 33.33%;
                padding: 0 20px;
                display: flex;
                flex-direction: column;
                row-gap: 20px;
              }
            }
            > .bottomPane {
              .btnmItem {
                font-family: $font1;
                font-style: normal;
                font-weight: 400;
                @include size12;
                line-height: 150%;
                .btnmItemttl {
                  color: $basecolor;
                  margin-bottom: 8px;
                }
                .btnmItemdes {
                  color: $tagcolor;
                }
              }
            }
          }
        }

        &.childLength1 {
          position: relative;
          & > .childMenu {
            width: 250px;
            padding-left: 20px;
            padding-right: 20px;
            max-width: 250px;
            left: 0;
            right: 0;

            > .flex_row .menuItem {
              max-width: 100%;
            }
          }
        }

        &:hover {
          > a {
            position: relative;
            z-index: 6;
            background: $white;
            &:after {
              position: absolute;
              content: "";
              top: 0;
              width: 100%;
              border-bottom: 4px solid $LightPink;
              left: 0;
            }
          }
        }
      }
      > li.childOpen {
        > .childMenu {
          display: block;
        }
        > a {
          position: relative;
          z-index: 6;
          background: $white;
          &:after {
            position: absolute;
            content: "";
            top: 0;
            width: 100%;
            border-bottom: 4px solid $LightPink;
            left: 0;
          }
        }
      }
      > li.active {
        > a {
          position: relative;
          z-index: 6;
          background: $white;
          &:after {
            position: absolute;
            content: "";
            bottom: 0;
            width: 100%;
            border-bottom: 4px solid $yellowColor;
            left: 0;
          }
        }
      }
    }
    ul {
      margin: 0;
      list-style: none;
      padding: 0;
    }
  }
}
@include tabletmidmin {
  html.hdrOpen {
    &:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 2;
      background-color: $basecolor;
      opacity: 0.4;
      right: 0;
      width: 100%;
      height: 100%;
    }
    overflow: hidden;
    header.u4m-header:before {
      background-color: #3d3533;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.4;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 2;
    }
  }
}

@include tabletmidmin {
  header.u4m-header {
    .desktopHide {
      display: none !important;
    }
    .headerMenu {
      display: block !important;
    }
  }
}

@include tabletmid {
  header.u4m-header {
    .mobileHide {
      display: none !important;
    }
    .headerMenu {
      position: absolute;
      top: calc(100% + 12px);
      background: $white;
      z-index: 4;
      left: -13px;
      padding: 30px 20px;
      right: -13px;
      display: none;
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    }
    .headerIn {
      > .flex_row {
        .left_sec {
          border-bottom: none;
        }
      }
    }
    .mobile-trigger {
      display: inline-block !important;
      cursor: pointer;
      padding: 7px 10px 8px 10px;
      background: $white;
      @include size16;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: $black;
      i {
        display: inline;
        position: relative;
        top: -4px;
        width: 22px;
        height: 2px;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        background-color: $black;
        display: inline-block;
        &:before {
          position: absolute;
          content: "";
          width: 22px;
          height: 2px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          background-color: $black;
          display: inline-block;
          top: -6px;
        }
        &:after {
          position: absolute;
          content: "";
          width: 22px;
          height: 2px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          background-color: $black;
          display: inline-block;
          top: 6px;
        }
      }
    }
  }
  .megaMenu {
    .hs-megaMenu-wrapper {
      .childMenu {
        display: none;
        .menuItemTtl {
          @include size16;
          font-weight: 700;
          margin-bottom: 0;
        }
        > li {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        li {
          margin: 0;
          ul {
            padding-left: 10px;
            li {
              a {
                padding: 5px 0;
              }
            }
          }
          a {
            padding: 10px 0;
            display: block;
            color: $basecolor;
          }
        }
      }
      > ul.desktopHide {
        > li {
          margin: 0;
          position: relative;
          > a {
            display: block;
            padding: 10px 0;
            color: $basecolor;
          }
          .childTrigger {
            position: absolute;
            top: 10px;
            right: 0;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: 0.2s all ease-in;
            z-index: 22;
          }
        }
        > li.childOpenMob {
          .childTrigger {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}

.headerWrap {
  @include tabletmidmin {
    min-height: 68.5px;
  }
  // @include tabletmid {
  //   min-height: 105px;
  // }
  .row-fluid {
    [class*="span"] {
      min-height: 0;
    }
  }
}
.HeaderSticky ul:empty {
  margin: 0;
  padding: 0;
}

body.anncmnt_hide {
  .HeaderTopSec {
    display: none !important;
  }
  .headerWrap {
    min-height: 81px;
    @include tabletmid {
      min-height: 66px;
    }
  }
}

@keyframes headerDown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}

.page-scrolled {
  header.u4m-header {
    position: fixed;
    animation: headerDown 0.5s ease-out forwards;

    .headerLogo {
      &.sticky {
        display: block !important;
      }
      &.normal {
        display: none !important;
      }
    }
    .headerMenu {
      max-height: calc(100vh - 66px);
    }
  }
}

@include tabletmidmin {
  .headerWrap.lp-header .headerIn > .flex_row {
    min-height: 55px;
  }
}

@include tabletmid {
  .headerWrap.lp-header .headerIn > .flex_row {
    min-height: 39.89px;
  }
}
