//heading styles
@mixin h1 {
  font-family: $font1;
  font-size: 60rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  margin-top: 0;
  @include tablet {
    font-size: 48rem;
  }
  @include phone {
    font-size: 38rem;
    margin-bottom: 20rem;
  }
}
@mixin h2 {
  font-family: $font1;
  font-size: 44rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 38rem;
  }
  @include phone {
    font-size: 32rem;
    margin-bottom: 20rem;
  }
}
@mixin h3 {
  font-family: $font1;
  font-size: 38rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 32rem;
  }
  @include phone {
    font-size: 28rem;
    margin-bottom: 20rem;
  }
}
@mixin h4 {
  font-family: $font1;
  font-size: 34rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 28rem;
  }
  @include phone {
    font-size: 24rem;
    margin-bottom: 20rem;
  }
}
@mixin h5 {
  font-family: $font1;
  font-size: 30rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 24rem;
  }
  @include phone {
    font-size: 20rem;
    margin-bottom: 20rem;
  }
}
@mixin h6 {
  font-family: $font1;
  font-size: 24rem;
  font-weight: bold;
  letter-spacing: .25rem;
  margin-bottom: 30rem;
  line-height: 1.2;
  @include tablet {
    font-size: 20rem;
  }
  @include phone {
    font-size: 18rem;
    margin-bottom: 20rem;
  }
}
//body styles
@mixin b1 {
  font-family: $font1;
  font-size: 22rem;
  line-height: 1.4;
  letter-spacing: .25rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 17rem;
  }
}
@mixin b2 {
  font-family: $font1;
  font-size: 18rem;
  line-height: 1.6;
  letter-spacing: .25rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 16rem;
  }
}
@mixin b3 {
  font-family: $font1;
  font-size: 16rem;
  line-height: 1.6;
  letter-spacing: .25rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 15rem;
  }
}
@mixin b4 {
  font-family: $font1;
  font-size: 14rem;
  line-height: 1.6;
  letter-spacing: .35rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 14rem;
  }
}
@mixin b5 {
  font-family: $font1;
  font-size: 13rem;
  line-height: 1.6;
  letter-spacing: .35rem;
  margin-bottom: 20rem;
  @include phone {
    font-size: 13rem;
  }
}
@mixin b6 {
  font-family: $font1;
  font-size: 12rem;
  line-height: 1.6;
  letter-spacing: .35rem;
  margin-bottom: 10rem;
  @include phone {
    font-size: 12rem;
  }
}
@mixin blockquote {
  font-family: $font1;
  font-size: 30rem;
  font-weight: bold;
  line-height: $baseLineHeight;
  letter-spacing: 1rem;
  margin: 50rem auto;
  color: $action1;
  display: block;
  max-width: 90%;
  @include phone {
    font-size: 23rem;
  }
}
@mixin eyebrow {
  font-family: $font1;
  font-size: 16rem;
  font-weight: bold;
  letter-spacing: 1rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 10rem;
}