
section.u4m-500-error {
  @include center;
  margin: 150rem auto;
  text-align: center;

  p {
    @include b1;
  }

  @include phone {
    margin: 50rem auto 70rem auto;
  }
}
section.u4m-404-error {
  @include center;
  margin: 50rem auto;
  text-align: center;
  .innerBgCon {
    @include center;max-width: 1288px;
    background-color: $lightGreybg;
    padding: 110rem 40rem;
    border-radius: $borderRadius;
    width: calc(100% - 40px);
    @include tabletvert {
      padding: 110rem 20rem;
    }
    p {
      @include b1;
    }
  
    @include phone {
      margin: 50rem auto 70rem auto;
    }
  }
}

section.u4m-backup-unsubscribe {
  @include center;
  margin: 150rem auto;
  text-align: center;

  @include phone {
    margin: 50rem auto 70rem auto;
  }

  p {
    @include b1;
  }

  form {
    @include form;

    a#hs_login_reset {
      margin-bottom: 20px;
    }
    .hs-form-field > label + a {
      float: right;
    }

    .hs-form-field > label {
      display: inline-block;
      float: left;
    }

    .hs-form-field:after {
      clear: both;
      display: block;
      content: "";
    }

    .hs-form-field input {
      clear: both;
    }

    .hs-form-field {
      input + label {
        display: inline;
        float: none;
      }
    }

    h3 {
      font-size: 12rem;
      font-weight: bold !important;
      text-align: left;
      margin-bottom: 4rem;
    }

    input {
      border: 1rem solid transparent;
      border-radius: 4rem;
      margin-top: 2rem;
      margin-bottom: 0;
      font-size: 16rem !important;
      padding: 16rem !important;
      width: 100% !important;
    }

    padding-bottom: 50rem;
  }
}

section.u4m-membership-login,
section.u4m-membership-register,
section.u4m-membership-reset-password-request,
section.u4m-membership-reset-password,
section.u4m-password-prompt {
  @include center;
  margin: 150rem auto;
  text-align: center;

  @include phone {
    margin: 50rem auto 70rem auto;
  }

  ul.hs-error-msgs {
    list-style: none;
  }

  form {
    @include form;
    text-align: left;

    a#hs_login_reset {
      margin-bottom: 20px;
    }
    .hs-form-field > label + a {
      float: right;
    }

    .hs-form-field > label {
      display: inline-block;
      float: left;
    }

    .hs-form-field:after {
      clear: both;
      display: block;
      content: "";
    }

    .hs-form-field input {
      clear: both;
    }

    input {
      border: 1rem solid transparent;
      border-radius: 4rem;
      margin-top: 2rem;
      margin-bottom: 20rem;
      font-size: 16rem !important;
      padding: 16rem !important;
      width: 100% !important;
      background-color: $white;
    }

    [type="checkbox"],
    [type="radio"] {
      width: auto !important ;
    }

    input#hs-login-widget-remember {
      width: auto !important;
      margin-bottom: 0;
    }

    a {
      display: block;
      font-weight: bold;
      font-size: 12rem;
    }

    padding-bottom: 50rem;

    .hs-form-field {
      input + label {
        display: inline;
        float: none;
      }
    }

    .hs-button {
      white-space: normal;
    }
  }

  p a {
    font-weight: bold;
  }
}

section.u4m-password-prompt {
  form {
    padding-top: 30rem;
  }
}

section.u4m-search-results {
  @include center;
  max-width: 1000rem;
  margin: 100rem auto;

  ul.hs-search-results__listing {
    a {
      font-size: 20rem;
    }
  }
}

section.u4m-subscription-preferences {
  @include center;
  margin: 100rem auto;

  form {
    @include form;
    max-width: 1000rem;
    padding-bottom: 50rem;

    a#hs_login_reset {
      margin-bottom: 20px;
    }
    .hs-form-field > label + a {
      float: right;
    }

    .hs-form-field > label {
      display: inline-block;
      float: left;
    }

    .hs-form-field:after {
      clear: both;
      display: block;
      content: "";
    }

    .hs-form-field input {
      clear: both;
    }

    .hs-form-field {
      input + label {
        display: inline-block;
        display: inline;
        float: none;
      }
    }

    div.item {
      border-bottom: 2rem solid $gray2;
      margin-bottom: 25rem;

      div.checkbox-row span span {
        font-weight: bold;
      }
    }

    div.subscribe-options p span {
      font-weight: bold;
    }
  }
}

section.u4m-subscriptions-confirmation {
  @include center;
  max-width: 1000rem;
  margin: 150rem auto;

  div.success {
    margin-top: 30rem;
    font-weight: bold;
  }
}

// ===

// =========
.systems-page {
  .hs-search-results__pagination {
    margin-top: 20px;
    gap: 0px 5px;
  }

  .hs-search-results__pagination__link--number {
    display: block;
    padding: 5px;
  }
}

.hs-search-results__pagination {
  flex-wrap: wrap;
}

section.u4m-subscription-preferences form {
  color: $basecolor !important;
  p,
  h1,
  h2 {
    color: $basecolor !important;
  }
}

section.u4m-password-prompt form input {
  height: 48px !important;
  margin-top: 0 !important;
}

.systems-page .hs_cos_wrapper_type_password_reset_request ul.no-list li:has(> label:only-child:empty) {
  list-style: none;
}

.systems-page {
  @include phone {
    h1 {
      font-size: 33rem;
    }
    h2 {
      font-size: 24rem;
    }
  }
}
