@import "../../css/_module-imports";

section.u4m-integrations-cards {
  .intro_content {
    display: flex;
    justify-content: space-between;

    .top_heading {
      font-size: 18px;
    }

    .view_all_link a {
      color: inherit;
    }
  }

  .card_cont_btm {
    padding: 20rem 12.5rem 0;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    gap: 20rem;
  }

  .intro_cnt {
    text-align: center;
  }

  .empty_div .card_inner {
    padding: 0;
    height: auto;
    border-bottom: 0;
  }

  .card_inner {
    @include cardBase;
    width: 100%;
    padding: 7.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    .card_title {
      margin-bottom: 15rem;
    }

    .card_img {
      width: 100%;
      border-radius: 4rem;
      overflow: hidden;
    }

    .card_img_inner {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      padding-bottom: 100%;
      position: relative;
    }

    .card_meta {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 10px;
      margin-bottom: 16rem;
    }

    .card_tag {
      background: #f5f1e8;
      border-radius: 4rem;
      padding: 4px 8px 4px;
      display: inline-block;
      line-height: 1.36;
      font-size: 12rem;
      font-weight: 500;
    }

    .card_read_minutes {
      padding: 4px 0;
      color: #746c60;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 5rem;
      line-height: 1.36;
      font-size: 12rem;
    }
    .play_btn {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 80px;
      width: 80px;
      background: currentColor;
      border-radius: 4rem;
      opacity: 0.9;
      display: flex;
      align-items: center;
      justify-content: center;

      svg path {
        fill: $sectionbg;
      }
    }

    .card_content {
      @include size14;
      line-height: 150%;

      p {
        font: inherit;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .card_item {
    @include tabletmid {
      width: 50%;
    }
    @include tabletvert {
      width: 100%;
    }

    .arrow_link {
      text-align: right;
      margin-top: auto;
      padding: 20rem 12.5rem;

      svg {
        display: block;
        width: 10px;
      }
      a {
        align-items: center;
        margin-left: auto;
        background-color: $sectionbg;
        border-radius: 20rem;
        display: flex;
        height: 28px;
        justify-content: center;
        width: 28px;
      }
    }
    &:hover {
      .arrow_link {
        svg * {
          stroke: $white;
        }
        a {
          background-color: $basecolor;
        }
      }
    }
  }

  .flex_row {
    row-gap: 20px;
    justify-content: flex-end;

    &.left {
      justify-content: flex-start;
    }
    &.center {
      justify-content: center;
    }
  }

  &.reverse-text {
    .card .title {
      color: $white;
    }
    .card_item.themeColor {
      color: $basecolor;
    }
  }

  .no_img_card .card_cont_btm {
    padding: 0;
  }
  .no_img_card .card_inner {
    padding: 20rem;
  }
  .no_img_card .card_tag {
    background: #fef76c;
  }
  .card_item.no_img_card .arrow_link {
    padding: 0;
  }

  @include tablet {
    .card_item.empty_div {
      display: none;
    }

    .col9 {
      width: 100%;
    }
  }

  @include tabletvert {
    .card_inner .card_img_inner {
      padding-bottom: 50%;
    }

    .card_inner .play_btn {
      width: 50px;
      height: 50px;
      padding: 15px 13px 15px 18px;
    }
  }
}
