@import "../../css/_module-imports";

.u4m-toptabber.dnd_padding {
  padding: 103rem 0 0;
  &.reverse-text {
    .intro p {
      color: $sectionbg;
    }
    .tab_cnt {
      color: $sidebarplaceholder;
    }
  }
  .intro {
    text-align: center;
    padding-bottom: 80px;
    h1 {
      margin-bottom: 15px;
    }
    p {
      @include size18;
      line-height: 1.6;
      margin: 0;
    }
    .btn_row {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  }
  .wrapper.tabcards {
    .tabber_inr {
      .toptab {
        .slick-track {
          width: 100% !important;
          transform: none !important;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row-reverse;
          .toptab_ttl {
            cursor: pointer;
            position: relative;
            .timer {
              border-radius: 0px 0px 0px 0px;
              display: block;
              height: 3px;
              width: 100%;
              visibility: hidden;
              opacity: 0;
              overflow: hidden;
              position: absolute;
              left: 0;
              right: 0;
              top: -1px;
              i {
                display: block;
                width: 100%;
                font: inherit;
                position: absolute;
                left: 0;
                background: $yellowColor;
                height: 100%;
              }
            }
            &.slick-current .timer {
              opacity: 1;
              visibility: visible;
              i {
                animation-name: width;
                animation-duration: 5s;
              }
            }
          }
        }
      }
      @include tabletvertmin {
        .toptabber_cnt_wrap {
          display: block;
        }
      }
    }
  }
  .tabber_wrap {
    .tabber_inr {
      .tabs {
        .toptab {
          border: 1px solid $greyborder;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row-reverse;

          &.counts_3 .toptab_ttl {
            flex-grow: 1;
          }

          .toptab_ttl {
            border-right: 1px solid $greyborder;
            width: 25%;
            text-align: left;
            padding: 30px 40px;
            cursor: pointer;

            @include tablet {
              padding: 20px;
            }

            &:last-child {
              border-right: 0;
            }
            @include tabletvert {
              width: 100%;
              border-right: 0;
            }

            .tab_txt {
              @include size18;
              line-height: 1.6;
              font-weight: bold;
              margin-bottom: 8px;
            }
            .tab_cnt {
              line-height: 1.5;
            }
            .btn_row {
              margin-top: 10px;
            }
          }
          @include tabletvert {
            .tab_acc_item {
              border-bottom: 1px solid $greyborder;
            }
          }
        }
      }
      .toptabber_cnt_wrap {
        display: none;
        border: 1px solid $greyborder;
        padding: 81rem 110rem 0;
        border-top: 0;
        border-bottom: 0;
        @include tabletvert {
          padding: 20rem;
          border: 0;
        }
        .white_bg {
          padding: 65px;
          text-align: center;
          @include tabletvert {
            padding: 10rem;
          }
          .img img {
            margin: 0 auto;
          }
        }
      }
      @include tabletvertmin {
        &.mobile_tab {
          display: none;
        }
      }
      @include tabletvert {
        &.desktop_tab {
          display: none;
        }
      }
    }
  }
}
@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
