@import "../../css/_module-imports";

.u4m-alternating-content-one {
  width: calc(100% - 40px);
  padding: 110rem 0;
  &.inner_bg_add {
    @include center;
    max-width: 1288px;
    border-radius: $borderRadius;
    @include tabletvertmin {
      padding-left: 20rem;
      padding-right: 20rem;
    }
    @include tabletMin {
      padding-left: 40rem;
      padding-right: 40rem;
    }
  }

  .page-center {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0;
    .two_cols {
      .inner_wrpp {
        display: flex;
        column-gap: 119px;
        flex-wrap: wrap;

        .left_col {
          width: calc((100% - 57.76%) - 60px);

          .cm_cnt {
            h4 {
              @include size28;
              font-weight: 400;
              line-height: 1.2;
              margin-bottom: 20px;
              @include tabletvert {
                @include size18;
              }
            }

            h2 {
              margin-bottom: 20px;

              + {
                p {
                  margin-top: 0;
                }
              }
            }

            p {
              &:last-child {
                margin: 0;
              }

              @include b2;
              font-weight: 400;
              line-height: 1.6;
              color: $basecolor;
            }

            margin-bottom: 40px;
          }

          .btm_btn {
            a {
              margin: 0;
              display: flex;
              width: auto;
              gap: 10px;
              align-items: center;

              svg {
                color: currentColor;

                path {
                  stroke: currentColor;
                }
              }
            }

            display: flex;
          }

          @include navbreak {
            width: calc(50% - 25px);
          }

          @include tabletvert {
            width: 100%;
          }
        }

        .right_col {
          width: calc(57.76% - 60px);

          @include navbreak {
            width: calc(50% - 25px);
          }

          @include tabletvert {
            width: 100%;
          }

          img {
            height: 100% !important;
            object-fit: cover;
          }
        }

        @include navbreak {
          column-gap: 50px;
        }

        @include tabletvert {
          flex-direction: column;
          row-gap: 50px;
        }

        @include tabletvertmin {
          &.left_align {
            .left_col {
              order: 2;
            }
          }
        }

        @include tabletvertmin {
          &.left_align {
            .right_col {
              order: 1;
            }
          }
        }
      }
    }

    .statistics.items {
      hr {
        margin: 0;
        border-bottom: 1px solid $basecolor;
        height: auto;
      }

      .flx {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 40px;

        .statistics__item {
          padding: 0;
          max-width: 100%;
          width: calc(50% - 30px);

          .stats_wrap {
            @include h2;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 20px;

            span.number {
              word-break: break-word;
            }
          }

          span.caption {
            font-size: $baseFontSize3;
            font-weight: 400;
            line-height: 1.5;
            display: block;
          }
        }
      }
    }
  }

  //

  &.reverse-text {
    .page-center {
      .two_cols {
        .inner_wrpp {
          .left_col {
            .cm_cnt {
              p {
                color: $white;
              }
            }
          }
        }
      }
      .statistics.items {
        hr {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}
