@import "../../css/_module-imports";
section.u4m-blog-post-cards {
  margin-top: 100rem;
  margin-bottom: 100rem;
  &.reverse-text {
    h2.heading {
      color: $white;
    }
  }
  .top-wrapper {
    @include center;
    display: flex;
    justify-content: space-between;
    .heading {
      @include h2;
      @include tablet {
        @include h4;
        margin: 0;
      }
    }
    .link {
      flex-grow: 1;
      text-align: right;
      @include buttonText;
      @include tabletvert {
        text-align: center;
        width: 100%;
      }
    }
    @include tabletvert {
      display: block;
      text-align: center;
    }
  }
  div.wrapper {
    @include center;
    max-width: 1280rem;
    display: flex;
    flex-wrap: wrap;
    a.blog-post-card {
      @include blogCard;
    }
    @include navbreak {
      padding: 0;
    }
    >span.hs_cos_wrapper_type_related_blog_posts {
      display: flex;
      width: 100%;
    };
  }
}