{% set moduleName = 'u4m-integrations-listing' %}
{% set imageMax = 1000 %}
{% set bgImageMax = 1920 %}

{% include "../partials/u4-module-includes.html" %}

<div class="top-section {{ module.module_settings.select_theme_type }}">
  <div class="page-center {{ module.module_settings.content_alignment }}">

    {% if module.include_intro %}
    <div class='intro'>
      <div class='intro_cnt'>
        {{ module.intro_content }}
      </div>
    </div>
    {% endif %}
    {% if module.include_button %} 
    <div class="btn_row">
      {{macros.buttonGroupItems(module.buttons)}}
    </div>
    {% endif %}
  </div>
</div>

<div class="logo_section {{ module.module_settings.select_theme_type }}">
  <div class="page-center">
    <div class="flex_row {% if module.module_settings.enable_slider %} slider_enable {% endif %}">
      <div class="logo_wrapper flex_row {% if module.module_settings.enable_slider %}slider_wrapper{% endif %} {{ module.module_overrides.inner_background_settings.select_background_color_type }}">
        {% for item in module.logo_items %}
        <div class="logo_items col {{ module.module_settings.select_column_count }}">
          {% if item.image_field.src %}
          <div class="logo_inner">
            {% set href = item.link.url.href %}
            {% if href %}
            {% if item.link.url.type is equalto "EMAIL_ADDRESS" %}
            {% set href = "mailto:" + href %}
            {% endif %}
            <a class="text" 
               {% if item.link.url.type is equalto "CALL_TO_ACTION"  %}
               href="{{ href }}" {# The href here is not escaped as it is not editable and functions as a JavaScript call to the associated CTA #}
               {% else %}
               href="{{ href|escape_url }}"
               {% endif %}
               {% if item.link.open_in_new_tab %}
               target="_blank"
               {% endif %}
               {% if item.link.rel %}
               rel="{{ item.link.rel|escape_attr }}"
               {% endif %}
               >
              {% endif %}
              {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}"' %}
              {% if item.image_field.size_type == 'auto' %}
              {% set sizeAttrs = 'width="{{ item.image_field.width|escape_attr }}" height="{{ item.image_field.height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
              {% elif item.image_field.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image_field.max_width|escape_attr }}" height="{{ item.image_field.max_height|escape_attr }}" style="max-width: 100%; height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading|escape_attr }}"' : '' %}
              <img src="{{ item.image_field.src|escape_url }}" alt="{{ item.image_field.alt|escape_attr }}" {{ loadingAttr }} {{ sizeAttrs }} {% if item.change_logo_width %}style="width: {{ item.width }}px;"{% endif %}>
              {% if href %}
            </a>
            {% endif %}
          </div>
          {% endif %}
        </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>
</section>
{% if module.module_settings.items_height %}
{% require_css %}
<style>
  {% scope_css %}
  .u4m-integrations-listing .logo_items .logo_inner{
    height:{{ module.module_settings.items_height }}px;
  }
  {% end_scope_css %}
</style>
{% end_require_css %}
{% endif %}
{% require_js %}
<script>
  {% if module.module_settings.enable_slider %}
  $('.{{ name }} .slider_wrapper').slick({
    dots: false,
    arrows: false,
    infinite: true,
    slidesToShow: {{ module.module_settings.slider_settings.slider_per_view }},
    slidesToScroll: {{ module.module_settings.slider_settings.slider_per_scroll }},
    autoplay: true,
    autoplaySpeed: 0,
    speed: 20000,
    pauseOnHover: false,
    cssEase: 'linear',
    responsive: [
    {
    breakpoint: 1024,
    settings: {
    slidesToShow: 3,
    slidesToScroll: 3,
    }
  },
    {
      breakpoint: 600,
        settings: {
          slidesToShow: 1,
            slidesToScroll: 1,
              speed: 5000
        }
    }
  ]
  });
  {% endif %}
</script>
{% end_require_js %}
