<section class="u4m-blog-post-header">
  <div class="page-center">
    {% if content.topic_list %}
    <div class="post-tag">
      {% for topic in content.topic_list %}
      <a class="topic-link" href="{{ blog_tag_url(group.id, topic.slug) }}"
        >{{ topic.name }}</a
      >{% if not loop.last %},{% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="post-title">
      <h2>{{ content.name }}</h2>
    </div>
    {% if module.author %} {% if content.blog_post_author %}
    <div class="post-meta">
      {% if content.blog_post_author.avatar %}
      <div class="author-img">
        <img
          src="{{ content.blog_post_author.avatar }}"
          alt="{{ content.blog_post_author.display_name }}"
        />
      </div>
      {% endif %} {% if content.blog_post_author.display_name %}
      <div class="author-name">
        <a
          class="author-link"
          href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}"
          >{{ content.blog_post_author.display_name }}</a
        >
      </div>
      {% endif %}
    </div>
    {% endif %} {% endif %}
  </div>
  {% if content.post_list_summary_featured_image %}
  <div class="page-center">
    <div
      class="featured-img"
      style="background-image:url({{ content.post_list_summary_featured_image }});"
    ></div>
  </div>
  {% endif %}
</section>
