@import "../../css/_module-imports";

section.u4m-blog-post-header {
  padding-bottom: 75px;

  .page-center {
    .InnerWrpa {
      max-width: calc(100% - 320px);

      @include tablet {
        max-width: 100%;
      }
    }
  }

  .post-tag {
    margin-bottom: 25px;

    a {
      color: inherit;
      text-transform: capitalize;

      &:not(:first-child) {
        margin-left: 5px;
      }
    }
  }

  .post-meta {
    display: flex;
    align-items: center;
    margin-bottom: 60px;

    .author-img {
      margin-right: 20px;
      border-radius: 100%;
      overflow: hidden;

      img {
        width: 60px;
        height: 60px;
        object-fit: fill;
        // border-radius: 100%;
      }
    }

    .author-name {
      .author-link {
        color: inherit;
      }
    }
  }

  .featured-img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
    background-position: center;
    max-width: 900px;
    margin: 0;
    border-radius: $borderRadius;
    @include tabletvert {
      min-height: 250px;
    }
  }
}