@import "../../css/_module-imports";

.u4m-scroll-lock {
  .sticky_sec {
    height: calc(79vh - 80px);
    min-height: 600px;
    position: sticky;
    top: 200px;
    @include tabletmid {
      position: static;
      height: auto;
    }
    .page-center {
      height: 100%;
      @include tablet {
        padding: 0 40px;
      }
      @include phone {
        padding: 0 20px;
      }
      .scroll_wrap {
        position: relative;
        height: 100%;
        .slide_dots {
          width: 15px;
          height: 100%;
          top: 0;
          bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 9px;
          position: relative;
          z-index: 99;
          @include tablet {
            margin-left: -30px;
          }
          @include tabletmid {
            display: none;
          }
          .li {
            width: 8px;
            height: 8px;
            background: $sectionbg;
            border-radius: 50%;
            cursor: pointer;
            &.active {
              background: $basecolor;
            }
          }
        }
      }
    }
  }
  .blank_item {
    height: calc(100vh - 80px);
  }
  @include tabletmid {
    .blank_slide {
      display: none;
    }
  }
  .scroll_slides {
    margin-bottom: 0;
    .scroll_slide {
      opacity: 0;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      transition: all 0.3s linear;
      @include tabletmid {
        position: static;
        opacity: 1;
        visibility: visible;
        margin-bottom: 50px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s linear;
      }
      .scroll_slide_inr.flex_row {
        align-items: center;
        justify-content: space-between;
        @include tabletmid {
          row-gap: 30px;
          flex-direction: column-reverse;
        }
        .scroll_cnt {
          width: 50%;
          max-width: 426px;
          margin: auto;
          @include tabletmid {
            width: 100%;
            max-width: 100%;
          }
          h3 {
            margin-bottom: 15px;
          }
          .btn_row {
            margin-top: 20px;
          }
        }
        .scroll_img {
          width: 50%;
          @include tabletmid {
            width: 100%;
          }
          .img_wrap {
            height: 560px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            border-radius: 12px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            @include phone {
              height: 450px;
            }

            .box_border {
              width: 368px;
              height: 481px;
              border-radius: 15px;
              overflow: hidden;
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              margin: auto;
              @include phone {
                width: 250px;
                height: 400px;
              }
              &:before {
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                width: 100%;
                top: 0;
                height: 100%;
                bottom: 0;
                background: rgba($white, 0.5);
                backdrop-filter: blur(2px);
              }
              .white_box {
                width: 330px;
                height: 438px;
                background: $white;
                border-radius: 8px;
                position: relative;
                @include phone {
                  height: 350px;
                  position: relative;
                  width: 230px;
                }
                svg {
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
