{% set moduleName = 'u4m-scroll-lock ' %}
	{% set imageMax = 1000 %}
	{% set bgImageMax = 1920 %}
	
	{% include "../partials/u4-module-includes.html" %}
	{% if module.include_intro %}
	<div class='intro'>
		<div class='intro_cnt page-center'>
			{{ module.intro_content }}
		</div>
	</div>
	{% endif %}
	
	
	<div class="wrapper  ">  
		<div class="sticky_sec  ct-section floating-content-media container-medium preload-assets">			
			<div class="page-center ct-section-inner-wrap " > 
				<div class="scroll_wrap ct-div-block"> 
					<div id="sticky_slide_wrap" class="scroll_slides floating-media-cards ct-div-block">
						{% for item in module.slider %}
						<div id="sticky_slide_{{ loop.index }}" class="scroll_slide ct-div-block floating-media-card flex_row">
							{# <div class="scroll_slide_inr flex_row"> #}
								<div class="scroll_cnt floating-media-card-content">
									{{ item.content }}
									{% if item.include_button %}
									<div class="btn_row">
										{% for item2 in item.buttons %}
										{% if item2.button_type == 'stnd' %} 
										{% set href = item2.button_link.url.href %}
										{% if item2.button_link.url.type is equalto "EMAIL_ADDRESS" %}
										{% set href = "mailto:" + href %}
										{% endif %}
										<a class="{{ item2.theme }} hs-button"
											 {% if item2.button_link.url.type is equalto "CALL_TO_ACTION"  %}
											 href="{{ href }}"
											 {% else %}
											 href="{{ href|escape_url }}"
											 {% endif %}
											 {% if item2.button_link.open_in_new_tab %}
											 target="_blank"
											 {% endif %}
											 {% if item2.button_link.rel %}
											 rel="{{ item2.button_link.rel|escape_attr }}"
											 {% endif %}
											 >
											{{ item2.button_text }}
										</a>
										{% else %}
										{% cta guid="{{ item2.cta_field }}" %}
										{% endif %}
										{% endfor %}
	
									</div>
									{% endif %}
								</div>
								{% if item.select_image.src %}
								<div class="scroll_img floating-media-card-image">
									<div class="img_wrap " >
									<img src="{{ item.select_image.src }}" alt="{{ item.select_image.alt }}"/>
										{% if item.include_svg %}
										<div class="box_border">
											<div class="white_box">
												<div class="box_svg">
													{{ item.add_svg }}
												</div>
											</div>
										</div>
										{% endif %}
									</div>
								</div>
							{% endif %}
							{# </div> #}
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div> 
	</div>
	 
	</section>
	
	