{% set moduleName = 'u4m-accordion' %}
		{% set imageMax = 1000 %}
		{% set bgImageMax = 1920 %}
		
		{% include "../partials/u4-module-includes.html" %}
	
<div class="accordion-inner">
		<div class="page-center"> 
			<div class="accordion-top-row">
				<div class="accordion-top-inn flex_row">
					<div class="col col6 accordion-intro">
						{% if module.include_intro %}
						<div class='intro'>
							<div class='intro_cnt'>
								{{ module.intro_content }}
							</div>
						</div>
						{% endif %}
					</div>
					{% if module.enable_expand_button %}
					{% endif %}
					<div class="col col6 accor-expand-btn">
						<div class="accor-expand-btn-inn">
							<div class="expand-btn">
								<a href="javascript:void(0);" class="anchore-btn">{{ module.expand_button_text }}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-items">
				<div class="accordion-items-inn flex_row">
					<div class="col6 col spacer-col">
					</div>
					<div class="col6 col items-col">
						<div class="items-row">
							{% for item in module.accordion_items %}
							<div class="accord-item">
								{% if item.title %}
								<div class="accord-item-title">
									<h4>
										{% if module.module_overrides.item_count_toggle %}
										  <span class="item-count">{% if loop.index <= 9%}0{% endif %}{{loop.index}}</span>
										{% endif %}
										<span class="item-title">{{ item.title }}</span>
										<span class="item-toggle-icon">
										  <img src="{{ get_asset_url('../../images/carrot.png') }}" alt="Toggle" class="toggle-icon">
											<img src="{{ get_asset_url('../../images/carrot-open.png') }}" alt="Open" class="open-icon">
										</span>
									</h4>
								</div>
								{% endif  %}
								{% if item.content %}
								<div class="accord-item-content">
									{{ item.content }}
								</div>
								{% endif  %}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
	
	
	</section>
	
	