@import "../../css/_module-imports";

.u4m-accordion {
  padding-top: 28px;
  padding-bottom: 88px;
  @include tabletvert {
    padding-bottom: 28px;
  }
  .page-center {
    .flex_row {
      margin-left: -10px;
      margin-right: -10px;
      @include tabletvert {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  .intro_cnt {
    h6 {
      font-weight: 400;
      line-height: 1.6;
      margin-top: 0;
      margin-bottom: 24px;
      @include size18;
    }
  }

  .accordion-items {
    padding-top: 40px;
    .accordion-items-inn {
      @include tabletmid {
        .col6 {
          width: 100%;
        }
      }
    }
  }

  .accordion-top-row {
    border-bottom: 1px solid $lightGray;
    @include tabletvert {
      text-align: center;
    }
  }

  .accor-expand-btn {
    text-align: right;
    @include tabletvert {
      text-align: center;
      margin-bottom: 28px;
    }
    .anchore-btn {
      line-height: 1.5;
      font-weight: 400;
      color: $bodyColor;
      @include size14;
    }
  }

  .accord-item {
    .accord-item-title {
      h4 {
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        @include size28;
        .item-count {
          line-height: 1.5;
          font-weight: 700;
          padding-right: 20px;
          @include size14;
        }

        .item-title {
          padding-right: 10px;
        }

        .item-toggle-icon {
          margin-left: auto;
          width: 38px;
          img {
            width: 28px;
            height: 28px;
            margin-left: auto;
            &.toggle-icon {
              display: block;
            }
            &.open-icon {
              display: none;
            }
          }
          @include tabletmid {
            display: block;
          }
        }
      }
    }

    &.active-item {
      .accord-item-title {
        h4 {
          .item-toggle-icon {
            img {
              &.toggle-icon {
                display: none;
              }
              &.open-icon {
                display: block;
              }
            }
          }
        }
      }
    }

    .accord-item-content {
      font-weight: 400;
      line-height: 1.6;
      margin-top: 0;
      margin-bottom: 40px;
      display: none;
      padding-left: 35px;
      @include size18;
      p:last-child {
        margin-bottom: 0;
      }
      &.hide {
        display: none;
      }
    }
  }
}
