@import "../../css/_module-imports";

section.u4m-form-wrapper {
  &.reverse-text {
    color: inherit;

    .intro_cnt * {
      color: $white;
    }
  }

  .flex_row {
    align-items: center;

    &.has-form.has-intro {
      justify-content: space-between;
      flex-wrap: nowrap;

      @include tabletmid {
        flex-wrap: wrap;
      }
    }
  }

  .left_content_wrapper {
    //padding-right: 20px;

    // @include tabletMin {
    //   padding-right: 15%;
    //   padding-left: 20px;
    // }
    max-width: 633rem;
    width: 100%;

    @include tablet {
      padding-right: 50px
    }

    @include tabletmid {
      width: 100%;
      max-width: unset;
      padding-right: unset;

      img.mobile-hide {
        position: absolute;
        transform: translate(-15px, 0px);
        width: 120px;
      }
    }

    @include tabletmid {
      padding-right: 0;
    }

    .intro_cnt {
      &.narrower {
        margin-left: 110rem;

        @include tabletmid {
          margin-left: unset;
        }
      }
    }
  }

  .advanced-form-wrapper {
    @include tabletMin {
      padding-left: 6.5%;
    }

    @include tabletmid {
      width: 100%;
      position: relative;
    }
  }

  .advanced-form-inner {
    margin-top: 0;
    margin-bottom: 0;
    @include form;

    .form-title {
      @include h3;
    }

    @include tabletmid {
      width: 100%;
      margin: auto;
      margin-top: 20px;
      max-width: 100%;
    }

    padding: 53rem 50rem;

    form {
      margin-bottom: 0;
    }

    .hs-form-field {
      position: relative;
    }

    select.hs-input {
      color: $black;

      * {
        color: $black;
      }
    }

    /* Labels */
    .hs-form-field>label {
      transform: translateY(0);
      transform-origin: left top;
      transition: transform 0.2s ease-in-out;
      white-space: nowrap;
      max-width: calc(100% - 24px);
      overflow: hidden;
      padding: 0 5px;
      pointer-events: none;
      position: absolute;
      text-overflow: ellipsis;
      top: 17px;
      left: 27px;
      font-size: 12rem;
      font-weight: 400;
      letter-spacing: 1rem;
      line-height: 1.2;
      pointer-events: auto;

      @include tabletmid {
        padding: 0;
        left: 16px;
      }
    }

    .hs-form-field.textExist>label,
    .hs-form-field.focused>label {
      font-weight: 600;
      transform: scale(0.733) translateY(calc(-9px - 0.5em)) translate(-7px);
      transform: scale(0.733) translateY(calc(-9px - 0.5em)) translate(-20px);
      transform: scale(0.733) translateY(calc(-9px - 0.5em)) translate(0px);
    }

    .removeLabelEffect.hs-form-field>label,
    .hs-fieldtype-file.hs-form-field>label,
    .hs-fieldtype-select.hs-form-field>label,
    .hs-fieldtype-radio.hs-form-field>label,
    .hs-multiple_checkbox.hs-form-field>label,
    .hs-fieldtype-checkbox.hs-form-field>label,
    .hs-fieldtype-date.hs-form-field>label {
      position: static;
      transform: none;
      padding: 0;
      background: none;
    }

    @include tabletmidmin {
      .hs-form-field>label {
        top: 15px;
        left: 16px;
      }

      .hs-form-field.textExist>label,
      .hs-form-field.focused>label {
        transform: scale(0.733) translateY(calc(-9px - 0.5em)) translate(-7px);
      }
    }

    .hs-form__virality-link {
      margin-top: 20px;
    }

    .hs_submit {
      margin-top: 36px;
    }

    form.hs-form {
      .hs-button {
        @include secondary;
        margin-top: 0;
        margin-bottom: 0;
      }

      select {
        font-size: 12rem;
        font-weight: 400;
        letter-spacing: 1rem;
      }
    }

    div.legal-consent-container p {
      margin: 0;
    }
  }
}