<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: Appzen - 404 Error
-->
{% extends '../base.html' %} {% block body %}
<main id="main-content" class="body-container-wrapper">
  <section class="u4m-404-error">
    <div class="innerBgCon">
      <div class="innerBg">
        {#
        <h1 class="heading">
          404 Error - We're sorry the page you're looking for isn't available.
        </h1>
        #}
        <h5>That's a 404</h5>
        <h2>You've ventured off the beaten path!</h2>
        <p>
          You’ve ventured off the beaten path! Let’s guide you back to where the
          real insights live:
          <a
            href="/"
            rel="noopener"
            style="color: inherit; text-decoration: underline"
            >Head home</a
          >
          or discover our solutions.
        </p>
      </div>
    </div>
  </section>
</main>
{% endblock body %}
